-r ../shared_requirements/requirements.txt
blinker==1.8.2
    # via flask
charset-normalizer==2.1.1
    # via requests
click==8.1.3
    # via flask
db-dtypes==1.2.0
    # via -r requirements.in
google-crc32c==1.3.0
    # via
    #   google-cloud-storage
    #   google-resumable-media
googleapis-common-protos[grpc]==1.56.4
    # via
    #   google-api-core
    #   grpc-google-iam-v1
    #   grpcio-status
grpc-google-iam-v1==0.12.4
    # via google-cloud-pubsub
grpcio-status==1.47.0
    # via
    #   google-api-core
    #   google-cloud-pubsub
importlib-metadata==4.12.0
    # via flask
packaging==21.3
    # via
    #   db-dtypes
    #   google-cloud-bigquery
    #   gunicorn
pyarrow==14.0.1
    # via db-dtypes
pyasn1==0.4.8
    # via
    #   pyasn1-modules
    #   rsa
pyasn1-modules==0.2.8
    # via google-auth
pyparsing==3.0.9
    # via packaging
python-dateutil==2.9.0.post0
    # via
    #   google-cloud-bigquery
    #   pandas
tzdata==2024.1
    # via pandas
zipp==3.8.1
    # via importlib-metadata
