@use "../../styles/globals.scss";
@import "../../styles/variables.module";

/** ------------- HEADER ROW ------------- **/

.HeaderRow {
  border-bottom: $bottom-border-style;

  .HeaderImgItem {
    align-items: center;
    justify-content: center;

    .HeaderImg {
      border-radius: 30px;
      height: auto;
      width: 100%;
      max-height: 770px;
      max-width: 400px;
      padding: 10px;
    }
  }

  .HeaderTextItem {
    justify-content: center;
    padding: 2rem 15%;
    @media (min-width: $md) {
      border-left: 1px solid $border-color;
      padding: 104px 66px 104px 66px;
    }

    .HeaderText {
      font-size: $biggerHeader;
      text-align: left;
      font-weight: 300;
      font-family: "Taviraj", serif !important;
      line-height: 100%;
      color: $alt-green;
    }

    .HeaderSubtext {
      font-size: $title;
      text-align: left;
      font-weight: 400;
      line-height: $lhLoose;
      font-family: "Inter", sans-serif !important;
    }

    .DefinitionsContainer {
      text-align: left;
    }

    .DefinitionsItem {
      padding: 1rem 1rem 1rem 0;
      @media only screen and (min-width: $md) {
        padding: 1rem;
      }
    }
    .DefinitionsItem:first-of-type {
      padding-left: 0;
    }

    .DefinitionHeader {
      font-size: $title;
      font-weight: 400;
      line-height: $lhLoose;
      color: $alt-green;
      font-family: "Taviraj", sans-serif !important;
      margin: 0px !important;
      padding-top: 1rem;
    }

    .DefinitionText {
      font-size: $small;
      font-weight: 400;
      line-height: $lhLoose;
      margin-block: 0.5rem;
    }

    .DefinitionSourceSpan {
      color: $alt-dark;
      font-weight: 400;
      font-size: $small;
    }
  }
}

/** ------------- HEALTH EQUITY RESOURCES & NEWS SECTION ------------- **/

.ResourcesAndNewsRow {
  align-items: center;

  /** ------------- RESOURCES SECTION ------------- **/

  .ResourcesRow {
    padding: 20px 0 20px 0;

    .ResourcesHeaderText {
      font-size: $biggerHeader;
      text-align: center;
      font-weight: 300;
      font-family: "Taviraj", serif !important;
      line-height: $lhLoose;
      color: $alt-green;
    }

    .ResourcesContainer {
      padding: 20px 0 20px 0;
    }

    // For each item in the "Health Equity Resources" section
    .ResourceItem {
      padding: 15px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;

      a {
        text-decoration: none;
        color: $black;
      }
    }

    .ResourceVideoEmbed {
      border-radius: 30px;
    }

    .ResourceImg {
      border-radius: 30px;
      max-height: 180px;
      height: auto;
      width: 100%;
    }

    .MainResourceTitleText {
      font-size: $smallHeader;
      font-weight: 500;
      margin: 15px 0 15px 0;
    }

    .MainResourceSubtitleText {
      font-size: $title;
      font-weight: 300;
      margin: 0px;
    }

    .ResourceTitleText {
      font-size: $title;
      font-weight: 500;
      margin: 15px 0 15px 0;
    }

    .ResourceSubtitleText {
      font-size: $text;
      font-weight: 300;
      margin: 0px;
    }
  }

  /** ------------- NEWS AND STORIES SECTION  ------------- **/

  .NewsAndStoriesRow {
    padding: 20px 0 20px 0;

    .NewsAndStoriesHeaderText {
      font-size: $biggerHeader;
      text-align: center;
      font-weight: 300;
      font-family: "Taviraj", serif !important;
      line-height: $lhLoose;
      color: $alt-green;
    }

    .NewsAndStoriesSubheaderText {
      font-size: $title;
      text-align: left;
      font-weight: 300;
      font-family: "Inter", sans-serif !important;
      color: $black !important;
    }

    .NewsAndStoriesItem {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 30px;
    }

    .NewsAndStoriesBigImg {
      width: 100%;
      height: auto;
      border-radius: 30px;
    }

    .NewsAndStoriesSmallImg {
      width: 100%;
      border-radius: 30px;
    }
    .NewsAndStoriesTitleLink {
      text-decoration: none;
    }
    .NewsAndStoriesTitleText {
      text-align: center;
      font-weight: 300;
      font-family: "Taviraj", serif !important;
      line-height: 130%;
      color: $alt-green;
      font-size: $title;
      margin: 15px 0 15px 0;
    }

    .NewsAndStoriesSubtitleText {
      font-size: $text;
      font-weight: 400;
      margin: 0px;

      a {
        text-decoration: underline;
        color: $black;
      }
    }
  }
}

/** ------------- FAQ SECTION ------------- **/

.FaqRow {
  padding: 50px 0;
  border-bottom: $bottom-border-style;
}

.FaqSection {
  padding: 50px 20px 50px 20px;
  border-bottom: 1px solid $alt-grey;
}

.FaqQuestionAndAnswer {
  padding-bottom: 20px;
  text-align: left;
}

.FaqHeaderText {
  font-size: $header !important;
  text-align: center;
  font-weight: 300;
  font-family: "Taviraj", serif !important;
  color: $alt-black;
  padding-bottom: 20px;
}

.FaqQuestion {
  font-size: $title !important;
  text-align: left;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
  color: $alt-black;
}

.FaqAnswer {
  font-size: $small;
  text-align: left;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: $alt-black;
}

.FaqSubheaderText {
  font-weight: 700;
  font-family: "Inter", sans-serif !important;
}

/** ------------- HOW TO JOIN THE EFFORT SECTION ------------- **/

.JoinTheEffortRow {
  padding: 0 30px;
  align-items: center;

  .JoinTheEffortHeaderRow {
    padding: 60px 0;

    .JoinTheEffortHeaderText {
      font-size: $biggerHeader;
      text-align: center;
      font-weight: 300;
      font-family: "Taviraj", serif !important;
      color: $alt-green;
      margin-bottom: 1rem;
    }

    .JoinTheEffortSubheaderText {
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: $title;
      line-height: $lhLoose;
      margin: 0px;
    }
  }

  .JoinTheEffortItemContainer {
    padding: 30px 0px 30px 0px;
    border-top: 1px solid $alt-dark;
    display: flex;
    align-items: center;
  }

  .JoinTheEffortTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 10px;
  }

  .JoinTheEffortImgContainer {
    width: $sm;
    height: 720px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .JoinTheEffortImg {
    width: 100%;
    height: auto;
    max-width: 410px;
    max-height: 500px;
  }

  .JoinTheEffortStepHeaderText {
    font-size: $bigHeader !important;
    font-weight: 400 !important;
    font-family: "Taviraj", sans-serif !important;
    padding: 10px 0 10px 0;
  }

  .JoinTheEffortStepText {
    font-size: $title !important;
    font-weight: 400 !important;
    line-height: $lhLoose;
    font-family: "DM Sans", sans-serif !important;
    padding: 10px 0 10px 0;
  }

  .EmailTextField {
    height: 56px;
    width: 260px;
  }
  .EmailAddressFormSubmit {
    height: 56px;
    margin-left: 5px;
  }

  .ContactUsLink {
    color: $alt-green !important;
    font-weight: 500 !important;
    font-size: $smallestHeader !important;
    text-decoration: underline !important;
  }
}

/** ------------- RESOURCES TAB ------------- **/

.ResourcesTabSection {
  padding: 50px 20px 50px 20px;
  border-bottom: 1px solid $alt-grey;
}

.ResourcesTabHeaderText {
  font-size: $header !important;
  text-align: center;
  font-weight: 300;
  font-family: "Taviraj", serif !important;
  color: $alt-black;
  padding-bottom: 20px;
}

.ResourcesTabList {
  text-align: left;
}

.ResourcesTabListItem {
  padding: 7px 0;
}

/** ------------- NEWS ------------- **/
