@import "../../styles/variables";

// For styles Grid-wide
.Grid {
  margin: auto;
  max-width: 1440px;
  font-family: "Inter", serif;
}

// For primary-themed buttons
.PrimaryButton {
  background-color: #0b5240;
  color: white;
  border-radius: 40px;
  height: 52px;
  width: 220px;
  font-size: 18px;
  font-weight: 500;
  font-family: "DM Sans", sans-serif !important;
  text-decoration: none;
  padding: 10px 30px 10px 30px;
}

// For major links, in primary colors
.MajorLink {
  color: $alt-green;
  font-weight: 600;
  font-size: 26px;
  line-height: 31.47px;
}

// For minor links, in black
.MinorLink {
  color: black;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

// For the title of the page read off by screenreaders in an h1
.ScreenreaderTitleHeader {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}

/** ------------- HEADER ROW ------------- **/

.HeaderRow {
  border-bottom: 1px solid #3e3e3e;

  .HeaderImgItem {
    align-items: center;
    justify-content: center;

    .HeaderImg,
    .SingleArticleHeaderImg {
      border-radius: 30px;
      height: auto;
      width: 100%;
      max-height: 770px;
      max-width: 400px;
      padding: 10px;
    }
    .SingleArticleHeaderImg {
      height: auto;
      width: 60%;
    }
  }

  .HeaderTextItem,
  .SingleArticleHeaderTextItem {
    justify-content: center;
    padding: 104px 66px 104px 66px;

    @media (min-width: $md) {
      border-left: 1px solid #3e3e3e;
    }

    .HeaderText,
    .SingleArticleHeaderText {
      font-size: 62px;
      text-align: left;
      font-weight: 300;
      font-family: "Taviraj", serif !important;
      line-height: 64px;
      color: $alt-green;
    }
    .SingleArticleHeaderText {
      font-size: 3.75rem;
      line-height: 90%;
    }

    .HeaderSubtext,
    .SingleArticleHeaderSubtext {
      font-size: 20px;
      text-align: left;
      font-weight: 400;
      line-height: 30px;
      font-family: "Inter", sans-serif !important;
    }

    .DefinitionsContainer {
      text-align: left;
    }

    .DefinitionsItem {
      padding: 10px;
    }

    .DefinitionHeader {
      font-size: 22px;
      font-weight: 400;
      line-height: 54px;
      color: $alt-green;
      font-family: "Taviraj", sans-serif !important;
      margin: 0px !important;
    }

    .DefinitionPronunciation {
      font-size: 14px;
      font-weight: 400;
      line-height: 26px;
      color: #5f6368;
      margin: 0px;
    }

    .DefinitionText {
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
    }

    .DefinitionSourceSpan {
      color: $alt-dark;
      font-weight: 400;
      font-size: small;
    }
  }
}

/** ------------- HEALTH EQUITY RESOURCES & NEWS SECTION ------------- **/

.ResourcesAndNewsRow {
  // padding: 75px 30px 75px 30px;
  align-items: center;
  border-bottom: 1px solid #3e3e3e;

  /** ------------- RESOURCES SECTION ------------- **/

  .ResourcesRow {
    padding: 20px 0 20px 0;

    .ResourcesHeaderText {
      font-size: 52px;
      text-align: center;
      font-weight: 300;
      font-family: "Taviraj", serif !important;
      line-height: 88.71px;
      color: $alt-green;
    }

    .ResourcesContainer {
      padding: 20px 0 20px 0;
    }

    // For each item in the "Health Equity Resources" section
    .ResourceItem {
      padding: 15px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;

      a {
        text-decoration: none;
        color: black;
      }
    }

    .ResourceVideoEmbed {
      border-radius: 30px;
    }

    .ResourceImg {
      border-radius: 30px;
      max-height: 180px;
      height: auto;
      width: 100%;
    }

    .MainResourceTitleText {
      font-size: 28px;
      font-weight: 500;
      line-height: 33.89px;
      margin: 15px 0 15px 0;
    }

    .MainResourceSubtitleText {
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
      margin: 0px;
    }

    .ResourceTitleText {
      font-size: 22px;
      font-weight: 600;
      line-height: 26.63px;
      margin: 15px 0 15px 0;
    }

    .ResourceSubtitleText {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      margin: 0px;
    }
  }

  /** ------------- NEWS AND STORIES SECTION  ------------- **/

  .NewsAndStoriesRow {
    padding: 20px 0 20px 0;

    .NewsAndStoriesHeaderText {
      // font-size: 52px;
      font-size: 2.5rem;
      text-align: center;
      font-weight: 300;
      font-family: "Taviraj", serif !important;
      // line-height: 88.71px;
      line-height: 170%;
      color: $alt-green;
    }

    .NewsAndStoriesSubheaderText {
      font-size: 18px;
      text-align: left;
      font-weight: 300;
      line-height: 24px;
      font-family: "Inter", sans-serif !important;
      color: black !important;
    }

    .NewsAndStoriesItem {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 30px;
    }

    .NewsAndStoriesBigImg {
      width: 100%;
      height: auto;
      border-radius: 30px;
    }

    .NewsAndStoriesSmallImg {
      width: 100%;
      border-radius: 30px;
    }
    .NewsAndStoriesTitleLink {
      text-decoration: none;
    }
    .NewsAndStoriesTitleText {
      margin-top: 5px;
      font-size: 1.5rem;
      text-align: center;
      font-weight: 300;
      font-family: "Taviraj", serif !important;
      line-height: 130%;
      color: $alt-green;
    }

    .NewsAndStoriesSubtitleText {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      margin: 0px;

      a {
        text-decoration: underline;
        color: black;
      }
    }
  }
}

/** ------------- FAQ SECTION ------------- **/

.FaqRow {
  padding: 50px 0;
  border-bottom: 1px solid #3e3e3e;
}

.FaqGrid {
  max-width: 1024px;
}

.FaqSection {
  padding: 50px 20px 50px 20px;
  border-bottom: 1px solid $alt-grey;
}

.FaqQuestionAndAnswer {
  padding-bottom: 20px;
  text-align: left;
}

.FaqHeaderText {
  font-size: 32px !important;
  text-align: center;
  font-weight: 300;
  font-family: "Taviraj", serif !important;
  line-height: 40px;
  color: $alt-black;
  padding-bottom: 20px;
}

.FaqQuestion {
  font-size: 18px !important;
  text-align: left;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
  line-height: 1 !important; // 5px was causing bug.
  color: $alt-black;
}

.FaqAnswer {
  font-size: 14px;
  text-align: left;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  line-height: 20px;
  color: $alt-black;

  .FaqContactUsButton {
    border: none;
    text-decoration: underline;
    background-color: transparent;
  }
}

.FaqSubheaderText {
  font-weight: 700;
  font-family: "Inter", sans-serif !important;
}

/** ------------- HOW TO JOIN THE EFFORT SECTION ------------- **/

.JoinTheEffortRow {
  padding: 0 30px;
  align-items: center;

  .JoinTheEffortHeaderRow {
    padding: 60px 0;

    .JoinTheEffortHeaderText {
      font-size: 52px;
      text-align: center;
      font-weight: 300;
      font-family: "Taviraj", serif !important;
      line-height: 88.71px;
      color: $alt-green;
    }

    .JoinTheEffortSubheaderText {
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      margin: 0px;
    }
  }

  .JoinTheEffortItemContainer {
    padding: 30px 0px 30px 0px;
    border-top: 1px solid #5f6368;
    display: flex;
    align-items: center;
  }

  .JoinTheEffortTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 10px;
  }

  .JoinTheEffortImgContainer {
    width: 600px;
    height: 720px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .JoinTheEffortImg {
    width: 100%;
    height: auto;
    max-width: 410px;
    max-height: 500px;
  }

  .JoinTheEffortStepHeaderText {
    font-size: 44px !important;
    font-weight: 400 !important;
    line-height: 50px !important;
    font-family: "Taviraj", sans-serif !important;
    padding: 10px 0 10px 0;
  }

  .JoinTheEffortStepText {
    font-size: 22px !important;
    font-weight: 400 !important;
    line-height: 30px !important;
    font-family: "DM Sans", sans-serif !important;
    padding: 10px 0 10px 0;
  }

  .EmailTextField {
    width: 260px;
  }

  .EmailAddressFormSubmit {
    height: 56px;
    margin-left: 5px;
  }

  .SocialsDiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: $alt-green;
    padding: 10px 0 10px 0;
  }

  .SocialsIcon {
    color: $alt-green;
    font-size: 35px;
  }

  .CopyIcon {
    color: $alt-green;
    height: 35px;
  }

  .ContactUsLink {
    color: $alt-green !important;
    font-weight: 500 !important;
    font-size: 26px !important;
    line-height: 31.47px !important;
    text-decoration: underline !important;
  }
}

/** ------------- RESOURCES ------------- **/

.ResourcesSection {
  padding: 50px 20px 50px 20px;
  border-bottom: 1px solid $alt-grey;
}

.ResourcesHeaderText {
  font-size: 32px !important;
  text-align: center;
  font-weight: 300;
  font-family: "Taviraj", serif !important;
  line-height: 40px;
  color: $alt-black;
  padding-bottom: 20px;
}

.ResourcesList {
  text-align: left;
}

.ResourcesListItem {
  padding: 7px 0;
}

/** ------------- BLOG ------------- **/

.AllArticlesSection {
  padding: 50px 20px 50px 20px;
  border-bottom: 1px solid $alt-grey;
}

.FeaturedContainer {
  background-color: $bg-color;
  border-radius: 20px;
}

.AllArticlesHeaderText {
  font-size: 32px !important;
  text-align: center;
  font-weight: 300;
  font-family: "Taviraj", serif !important;
  line-height: 40px;
  color: $alt-black;
  padding-bottom: 20px;
}

.AllPostsBigImg {
  width: 60%;
  height: auto;
  border-radius: 30px;
}

.AllArticlesTitleLink {
  text-decoration: none;
}
.AllArticlesTitleText {
  margin: 5px 40px 30px 40px;
  font-size: 1.25rem;
  text-align: center;
  font-weight: 300;
  font-family: "Taviraj", serif !important;
  line-height: 90%;
  color: $alt-green;
}

.FullArticleContainer {
  margin: 2rem;
  border-bottom: 1px solid $alt-grey;
  padding: 0px 10% 50px 10%;
  @media (max-width: $lg) {
    padding: 0px 15% 50px 15%;
  }

  p,
  li {
    font-size: 1rem;
    line-height: normal;
    text-align: left;
    font-weight: 400;
    font-family: "Inter", sans-serif;

    color: $alt-black;
  }

  blockquote > p {
    // font-family: "Taviraj", serif !important;
    font-weight: 200;
    font-style: italic;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 300;
    line-height: 100%;
    font-family: "Taviraj", serif !important;
    color: $alt-green;
    text-align: left;
  }

  h1 {
    font-size: 3.75rem !important;
  }
  h2 {
    font-size: 3rem !important;
  }
  h3 {
    font-size: 2.125rem !important;
  }
  h4 {
    font-size: 1.5rem !important;
  }
  h5 {
    font-size: 1.25rem !important;
  }
  h6 {
    font-size: 1rem !important;
  }

  ol,
  ul,
  blockquote {
    text-align: left;
  }

  p > img {
    display: block;
    margin: 40px auto 0px auto;
    width: 40%;
    height: auto;
    // float: right;
    // margin: 50px;
  }
}

// featured image is loaded in header separately, so hide in content HTML
figure,
hr {
  display: none !important;
}

.FullLink {
  font-family: "Inter", sans-serif !important;
  font-weight: 500 !important;
  font-size: 24px !important;
  line-height: 28px !important;
  margin-top: 20px !important;
  color: $alt-green !important;
  text-decoration: underline !important;
}

.PrevNextSection {
  padding: 50px 20px 50px 20px;
  // border-bottom: 1px solid $alt-grey;
  display: flex;
  align-items: center;
}

.PrevNextHeaderText {
  font-size: 1rem !important;
  text-align: center;
  font-weight: 300;
  font-family: "Taviraj", serif !important;
  line-height: 40px;
  color: $alt-black;
  padding: 20px !important;
  // margin: 30px !important;
}

.PrevNextHeaderText > span {
  display: block;
}

.PrevNextThumbnail,
.LogoThumbnail {
  height: auto;
  max-width: 50%;
}
.PrevNextThumbnail {
  border-radius: 30px;
  max-width: 70%;
}
