# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "npm"
    directory: "frontend/"
    schedule:
      interval: "weekly"
    groups:
      minor-frontend:
        update-types:
          - "minor"
          - "patch"
    open-pull-requests-limit: 3
  - package-ecosystem: "npm"
    directory: "frontend_server/"
    schedule:
      interval: "weekly"
    groups:
      minor-frontend-server:
        update-types:
          - "minor"
          - "patch"
    open-pull-requests-limit: 0 # TODO: re-enable by increasing limit once we have test coverage #3152
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      minor-gh-actions:
        update-types:
          - "minor"
          - "patch"
    open-pull-requests-limit: 2
  - package-ecosystem: "pip"
    directory: "python/"
    schedule:
      interval: "weekly"
    groups:
      minor-python:
        update-types:
          - "minor"
          - "patch"
    open-pull-requests-limit: 2
  - package-ecosystem: "pip"
    directory: "requirements/"
    schedule:
      interval: "weekly"
    groups:
      minor-python:
        update-types:
          - "minor"
          - "patch"
    open-pull-requests-limit: 2
  - package-ecosystem: "pip"
    directory: "exporter/"
    schedule:
      interval: "weekly"
    groups:
      minor-python:
        update-types:
          - "minor"
          - "patch"
    open-pull-requests-limit: 1
  - package-ecosystem: "pip"
    directory: "run_gcs_to_bq/"
    schedule:
      interval: "weekly"
    groups:
      minor-python:
        update-types:
          - "minor"
          - "patch"
    open-pull-requests-limit: 1
  - package-ecosystem: "pip"
    directory: "run_ingestion/"
    schedule:
      interval: "weekly"
    groups:
      minor-python:
        update-types:
          - "minor"
          - "patch"
    open-pull-requests-limit: 1
  - package-ecosystem: "pip"
    directory: "data_server/"
    schedule:
      interval: "weekly"
    groups:
      minor-python:
        update-types:
          - "minor"
          - "patch"
    open-pull-requests-limit: 1
  - package-ecosystem: "pip"
    directory: "e2e_tests/"
    schedule:
      interval: "weekly"
    groups:
      minor-python:
        update-types:
          - "minor"
          - "patch"
    open-pull-requests-limit: 1
