VITE_DEPLOY_CONTEXT=development
STORYBOOK_DEPLOY_CONTEXT=development
# Url to point your frontend to for local development. Usually, this will be
# either the real staging environment url (https://dev.healthequitytracker.org)
# or the url of the frontend server on your personal GCP project. It can also be
# a localhost url if you're running the frontend server locally. If not
# provided in local development, the frontend will default to serving files from
# the /public/tmp/ directory. You will have to add files there yourself.
VITE_BASE_API_URL=https://dev.healthequitytracker.org
STORYBOOK_BASE_API_URL=https://dev.healthequitytracker.org

# Override specific files to fetch from the public/tmp/ directory by setting
# VITE_FORCE_STATIC/STORYBOOK_FORCE_STATIC to a comma-separated list of
# filenames.
VITE_FORCE_STATIC=geographies.json
STORYBOOK_FORCE_STATIC=geographies.json
