# OS Files
.DS_Store
~$*

# IDE/Editor
.vscode/
.idea/
*.iml

# Python
__pycache__/
*.egg-info/
.venv*/
venv*/

# Node.js
node_modules/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
config/.terraform.lock.hcl

# Environment Files
/frontend_server/.env.secrets
/frontend_server/.env.local
/frontend_server/.env.development
/scripts/.env.secrets

# Build Outputs
/frontend/build/
/frontend_server/build/
python/data_server/build/
python/datasources/build/
python/ingestion/build/

# Logs & Reports
airflow-logs/
/frontend/npm-debug.log*
/frontend/playwright-report/
/frontend/test-results/
/frontend/coverage/
/frontend/stats.html

# Archives
*.zip

# Spell Check
.cspellcache

# Misc
tig

# JSON Files (with exceptions)
*.json
!frontend/cspell.config.json
!python/ingestion/ahr_config/graphql_ahr_measure_ids.json
