.terraform/plugins
/config/.terraform/plugins
.vscode
.venv
__pycache__
venv
*.egg-info
*.tfstate
*.tfstate.backup
*.tfvars
*.zip
.DS_Store
airflow-logs
*.iml
.idea/

node_modules/
/frontend_server/build/
/frontend/build/
/frontend_server/.env.development
/frontend/.env.development
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/npm-debug.log*

config/.terraform.lock.hcl
config/.terraform/

*.json
*run-results*

python/data_server/build/
python/datasources/build/
python/ingestion/build/
