.terraform/plugins
.vscode
.venv
__pycache__
venv
*.egg-info
*.tfstate
*.tfstate.backup
*.tfvars
*.zip
.DS_Store
airflow-logs

/frontend/node_modules
/frontend/build
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/npm-debug.log*
