extends: default

rules:
  indentation: disable
  line-length: disable
  document-start: disable
  truthy: disable
  comments: disable
  comments-indentation: disable
  new-line-at-end-of-file: disable
