@import '../styles/variables.module';
@import '../styles/globals.scss';

.Legend {
  text-align: left;
}

.LegendHeader {
  display: inline-flex;
  align-items: center;
  line-height: $lhSomeMoreSpace;
  color: $black;
  text-align: start;
  font-size: $smallest;
  word-wrap: break-word;
}
