@import '../styles/variables.module';
@import '../styles/globals.scss';

.Legend {
  text-align: left;
}

.LegendTitle {
  text-align: start;
  font-size: $smallest;
  margin-left: 5px;
  word-wrap: break-word;
}
