@import "../styles/variables.module";

.Unit {
  font-size: $smallest;
  font-weight: 200;
  font-stretch: ultra-condensed, extra-condensed, condensed;
  margin-left: 0.075rem;
  letter-spacing: -0.04rem;
}

.srOnly {
  position: absolute;
  left: -9999px;
}
