@import "../styles/variables.module";

// For the title of the page read off by screenreaders in an h1
.ScreenreaderTitleHeader {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}

.Unit {
  font-size: $smallest;
  font-weight: 200;
  font-stretch: ultra-condensed, extra-condensed, condensed;
  margin-left: 0.075rem;
  letter-spacing: -0.04rem;
}

.PrimaryButton {
  border-radius: 40px !important;
  // height: 52px;
  min-width: 220px;
  font-size: $title !important;
  font-weight: 500;
  font-family: "DM Sans", sans-serif !important;
  padding: 10px 30px;
}
