@import "../styles/variables.module";

// For the title of the page read off by screenreaders in an h1
.ScreenreaderTitleHeader {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}

.PrimaryButton {
  background-color: $alt-green;
  color: white !important;
  border-radius: 40px !important;
  font-size: $title !important;
  font-weight: 500 !important;
  font-family: "DM Sans", sans-serif !important;
  padding: 16px 30px !important;
  text-align: center;
}

.Unit {
  font-size: $smallest;
  font-weight: 200;
  font-stretch: ultra-condensed, extra-condensed, condensed;
  margin-left: 0.075rem;
  letter-spacing: -0.04rem;
}
