// color palette
$grey-dark: #222;
$white: #fff;
$yellow: yellow;
$blue: #07538f;
$green: #228b7e;
$black: #000;

$infobar-color: #f8e8b0;
$report-alert: #ff9800;
$bg-color: #e2e2e2;
$footer-color: #edf3f0;
$explore-bg-color: #f1f4f8;
$listbox-color: #f1f3f4;
$how-to-color: #bdc1c6;
$team-border-color: #9aa0a6;
$grey-grid-color: #f9f9f9;
$border-color: #3e3e3e;
$navlink-color: #202124;

$alt-green: #0b5240;
$alt-black: #383838;
$alt-dark: #5f6368;
$alt-grey: #bdbdbd;

// default settings
$footer-size: 490px;
$max-width: 800px;

// default material breakpoints
$sm: 600px;
$md: 960px;
$lg: 1280px;
$xl: 1920px;
