// color palette
$grey-dark: #222;
$white: #fff;
$bg-color: #e2e2e2;
$footer-color: #edf3f0;
$listbox-color: #f1f3f4;
$blue: #07538f;
$green: #228b7e;
$alt-green: #0b5240;
$alt-black: #383838;
$alt-dark: #5f6368;
$alt-grey: #bdbdbd;

// default settings
$footer-size: 300px;
$max-width: 800px;

// default material breakpoints
$sm: 600px;
$md: 960px;
$lg: 1280px;
$xl: 1920px;

// colors from VEGA map
$map-lightest: #cbea9d;
$map-lighter: #acdc8e;
$map-light: #87cc7f;
$map-mid: #63bb6e;
$map-dark: #42a55b;
$map-darker: #2a8d4a;
$map-darkest: #14763d;

// roughly spaced out 7 colors from VEGA unknowns map
$unknown-map-least: #d3eece;
$unknown-map-lesser: #b8e3be;
$unknown-map-less: #92d4be;
$unknown-map-mid: #60bccb;
$unknown-map-more: #47a8cb;
$unknown-map-even-more: #2384b9;
$unknown-map-most: #0b61a2;
