// color palette
$grey-dark: #222;
$white: #fff;
$bg-color: #e2e2e2;
$footer-color: #edf3f0;
$listbox-color: #f1f3f4;
$blue: #07538f;
$green: #228b7e;
$alt-green: #0b5240;
$alt-black: #383838;
$alt-dark: #5f6368;
$alt-grey: #bdbdbd;

// default settings
$footer-size: 490px;
$max-width: 800px;

// default material breakpoints
$sm: 600px;
$md: 960px;
$lg: 1280px;
$xl: 1920px;
