// DEFINE GLOBAL COLORS/SIZES

// color palette
$grey-dark: #222;
$white: #fff;
$yellow: yellow;
$red-orange: #ed573f;
$blue: #07538f;
$dark-blue: #255792;
$dark-green: #083f31;
$green: #228b7e;
$black: #000;

$secondary-light: #89d5cc;
$secondary-main: #228b7e;
$secondary-dark: #167b6f;

$alert-color: #d85c47;
$infobar-color: #f8e8b0;
$report-alert: #ff9800;
$standard-info: #f8f9fa;
$standard-warning: #fff8eb;
$toggle-color: #e1e9e7;

$bg-color: #e2e2e2;
$footer-color: #edf3f0;
$explore-bg-color: #f1f4f8;
$listbox-color: #f1f3f4;
$how-to-color: #bdc1c6;
$team-border-color: #9aa0a6;
$grey-grid-color: #f9f9f9;
$border-color: #3e3e3e;
$navlink-color: #202124;

$bar-chart-dark: #0b5420;
$bar-chart-light: #91c684;

$join-effort-bg1: #a5cdc0;
$join-effort-bg2: #edb2a6;
$join-effort-bg3: #275141;

$alt-green: #0b5240;
$alt-black: #383838;
$alt-dark: #5f6368;
$alt-grey: #bdbdbd;

// colors from VEGA map
$map-lightest: #cbea9d;
$map-lighter: #acdc8e;
$map-light: #87cc7f;
$map-mid: #63bb6e;
$map-dark: #42a55b;
$map-darker: #2a8d4a;
$map-darkest: #14763d;

// roughly spaced out 7 colors from VEGA unknowns map
$unknown-map-least: #d3eece;
$unknown-map-lesser: #b8e3be;
$unknown-map-less: #92d4be;
$unknown-map-mid: #60bccb;
$unknown-map-more: #47a8cb;
$unknown-map-even-more: #2384b9;
$unknown-map-most: #0b61a2;

// font settings
$madlib-line-height: 50pt;

$smallest: 0.75rem;
$small: 0.875rem;
$text: 1rem;


/*
1rem x15
1.125rem x13
1.25rem x14
1.375 x4
1.5rem x7
1.625 x4
1.75 x4
1.875 x3
2rem x7
2.25 x4
3 x9
3.125 x4
3.25 x3
3.625 x3
5 x3

REPLACED WITH REM:
16px
20px
24px
32px
12px
14px
18px
7px->8px
50px
36px
30px
48px
25px->24px
28px
80px
58px
130px
54px
62px
22px
44px
35px->34px
26px
20pt
12pt
10pt

small
smaller

1rem = 16px

*/

// default settings
$header-height: 600px;
$footer-size: 10rem;
$max-width: 800px;
$explore-data-max-width: 1000px;

// default material breakpoints
$sm: 600px;
$md: 960px;
$lg: 1280px;
$xl: 1920px;

// styles
$bottom-border-style: 1px solid $border-color;

// EXPORT FOR USE OUTSIDE OF CSS/SCSS (like REACT / VEGA)
:export {
  greyDark: $grey-dark;
  white: $white;
  yellow: $yellow;
  redOrange: $red-orange;
  blue: $blue;
  darkBlue: $dark-blue;
  green: $green;
  darkGreen: $dark-green;
  black: $black;

  secondaryLight: $secondary-light;
  secondaryMain: $secondary-main;
  secondaryDark: $secondary-dark;

  alertColor: $alert-color;
  infobarColor: $infobar-color;
  reportAlert: $report-alert;
  standardInfo: $standard-info;
  standardWarning: $standard-warning;
  toggleColor: $toggle-color;
  bgColor: $bg-color;
  footerColor: $footer-color;
  exploreBgColor: $explore-bg-color;
  listboxColor: $listbox-color;
  unknownGrey: $how-to-color;
  teamBorderColor: $team-border-color;
  greyGridColor: $grey-grid-color;
  borderColor: $border-color;
  navlinkColor: $navlink-color;
  barChartDark: $bar-chart-dark;
  barChartLight: $bar-chart-light;

  joinEffortBg1: $join-effort-bg1;
  joinEffortBg2: $join-effort-bg2;
  joinEffortBg3: $join-effort-bg3;

  altGreen: $alt-green;
  altBlack: $alt-black;
  altDark: $alt-dark;
  altGrey: $alt-grey;

  mapLightest: $map-lightest;
  mapLighter: $map-lighter;
  mapLight: $map-light;
  mapMid: $map-mid;
  mapDark: $map-dark;
  mapDarker: $map-darker;
  mapDarkest: $map-darkest;

  unknownMapLeast: $unknown-map-least;
  unknownMapLesser: $unknown-map-lesser;
  unknownMapLess: $unknown-map-less;
  unknownMapMid: $unknown-map-mid;
  unknownMapMore: $unknown-map-more;
  unknownMapEven: $unknown-map-even-more;
  unknownMapMost: $unknown-map-most;

  footerSize: $footer-size;
  maxWidth: $max-width;

  sm: $sm;
  md: $md;
  lg: $lg;
  xl: $xl;
}
