@import "../styles/variables.module";

.OneColumnReportWrapper {
  width: 100%;
  max-width: $explore-data-max-width;
  margin: 0 auto;
}

.TwoColumnReportWrapper {
  width: 100%;
  max-width: calc(2 * $explore-data-max-width);
  margin: 0 auto;
}

.ToggleBlock {
  padding-left: 15px;

  .ToggleLabel {
    display: block;
    text-transform: uppercase;
    color: $alt-black;
    font-weight: 300;
    font-size: $small;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.MissingDataContainer {
  margin-top: 5rem;
  width: 100%;
  background-color: $white;
  min-height: 900px;
  display: flex;
  justify-content: center;
}

.MissingDataInfo {
  margin: 2rem;
  @media only screen and (min-width: $sm) {
    margin: 4rem;
  }
  max-width: $explore-data-max-width;
  text-align: left;
}

.MissingDataContactUs {
  margin-top: 2rem;
  background-color: $infobar-color;
  padding: 2px 10px 2px 10px;
  border-radius: 8px;

  p {
    text-align: center;
    padding: 1rem 2rem;
  }
}

.FootnoteLargeHeading {
  font-size: $header;
}

.FootnoteLargeHeading:first-of-type {
  margin-block-start: 0px;
}

.SeeOurDataSourcesButton {
  margin-bottom: 2 rem;
}

.HighlightedCard {
  background-color: $alt-green;
  // width: 1000px !important;
}
