.CategoryListBox {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.CategoryListHeader {
  margin-bottom: 0px;
}

.CategoryList {
  text-align: start;
  font-size: 1rem;
  width: 70%;
}
