@import "../../styles/variables.module";

.FaqHeader {
  font-size: 54px !important;
  text-align: left;
  font-weight: 400;
  font-family: "Taviraj", serif !important;
  line-height: 64px !important;
  color: $alt-green;
  padding-bottom: 20px;
}

.FaqQAItem {
  padding: 20px 0px;
}

.FaqQuestion {
  font-size: 28px !important;
  text-align: left;
  font-weight: 300 !important;
  font-family: "Taviraj", sans-serif !important;
  line-height: 68px !important;
  color: $alt-black;
}

.FaqAnswer {
  font-size: 14px;
  text-align: left;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  line-height: 20px;
  color: $alt-black;
}

.FaqSubheaderText {
  font-weight: 700;
  font-family: "Inter", sans-serif !important;
}

.FaqLink {
  font-family: "Inter", sans-serif !important;
  font-weight: 500 !important;
  font-size: 24px !important;
  line-height: 28px !important;
  margin-top: 20px !important;
  color: $alt-green !important;
  text-decoration: underline !important;
}
