@import "../../styles/variables.module";
@import "../../styles/globals.scss";
.FaqHeader {
  @include tav300();
  font-size: $bigHeader !important;
  text-align: left;
  color: $alt-green;
  padding-bottom: 20px;
}

.FaqListItem {
  list-style: none;
  margin: 0px !important;
}

.FaqQAItem {
  padding: 20px 0px;
}

.TestingFaqQAItem {
  padding-left: 50px;
  padding-right: 50px;
}

.TestingDiv {
  padding-bottom: 10px;
}

.FaqQuestion {
  @include tav300();
  font-size: $title !important;
  @media only screen and (min-width: $sm) {
    font-size: $smallHeader !important;
  }
  text-align: left;
  line-height: $lhSuperLoose !important;
  color: $alt-black;
}

.FaqAnswer {
  @include inter400();
  font-size: $small;
  text-align: left;
  color: $alt-black;
}

.FaqLink {
  @include inter500();
  font-size: $smallestHeader !important;
  margin-top: 20px !important;
  color: $alt-green !important;
  text-decoration: underline !important;
}
