@import '../../styles/variables.module';
@import '../../styles/globals.scss';

.StickySidebarBox {
  position: -webkit-sticky;
  position: sticky;
}

.ShareBox {
  margin: $card-gutter;
  padding: 10px 0 0px 0;
  display: flex;
  justify-content: center;
  width: 90%;
}

.SidebarModeSelectorBox {
  display: none;

  @media only screen and (min-width: $md) {
    margin: $card-gutter;

    padding: 16px 8px 16px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
  }
}

.TableOfContentsBox {
  margin: $card-gutter;

  padding: 1rem 0 1rem 0;
  display: flex;
  justify-content: center;
  width: 90%;
}
