@import "../../styles/variables.module";
@import "../../styles/globals.scss";

.TOC,
.TOC2 {
  margin: 10px;
  width: 80%;
  position: -webkit-sticky;
  position: sticky;
  top: 88px;
  overflow: auto;
}

// compare view, sticking header can be much taller
.TOC2 {
  top: 188px;
}

.Stepper {
  display: none;

  @media only screen and (min-width: $md) {
    display: flex;
  }
}

.Step {
  text-decoration: none;
  color: $alt-dark !important;
  font-size: $smallest;
  display: block;
  text-align: left !important;
}

.SelectedStep {
  color: $alt-green !important;
  text-decoration: none;
  font-size: $smallest;
  text-align: left !important;
  float: left !important;
}
