-r ../shared_requirements/requirements.txt
astroid==3.2.2
    # via pylint
cachetools==4.1.1
    # via google-auth
cffi==1.15.1
    # via google-crc32c
charset-normalizer==3.3.2
    # via requests
click==7.1.2
    # via flask
dill==0.3.8
    # via pylint
et-xmlfile==1.1.0
    # via openpyxl
google-auth==1.21.1
    # via
    #   google-api-core
    #   google-cloud-storage
google-cloud==0.34.0
    # via -r ../python/ingestion/requirements.in
google-cloud-core==1.4.1
    # via
    #   -r ../python/ingestion/requirements.in
    #   google-cloud-bigquery
    #   google-cloud-storage
google-cloud-storage==1.31.0
    # via -r ../python/ingestion/requirements.in
google-crc32c==1.0.0
    # via google-resumable-media
google-resumable-media==1.0.0
    # via
    #   google-cloud-bigquery
    #   google-cloud-storage
googleapis-common-protos[grpc]==1.52.0
    # via
    #   google-api-core
    #   grpc-google-iam-v1
grpc-google-iam-v1==0.12.3
    # via google-cloud-pubsub
isort==5.13.2
    # via pylint
itsdangerous==1.1.0
    # via flask
jinja2==2.11.2
    # via flask
libcst==0.3.10
    # via
    #   google-cloud-bigquery
    #   google-cloud-pubsub
markupsafe==1.1.1
    # via jinja2
mccabe==0.7.0
    # via pylint
mypy-extensions==0.4.3
    # via typing-inspect
openpyxl==3.1.4
    # via
    #   -r ../python/ingestion/requirements.in
    #   -r requirements.in
pandas==2.2.2
    # via -r ../python/ingestion/requirements.in
platformdirs==4.2.1
    # via pylint
proto-plus==1.10.0
    # via
    #   google-cloud-bigquery
    #   google-cloud-pubsub
pyasn1==0.4.8
    # via
    #   pyasn1-modules
    #   rsa
pyasn1-modules==0.2.8
    # via google-auth
pycparser==2.20
    # via cffi
python-dateutil==2.9.0.post0
    # via pandas
pytz==2020.1
    # via
    #   google-api-core
    #   pandas
pyyaml==5.4
    # via libcst
six==1.15.0
    # via
    #   google-api-core
    #   google-auth
    #   google-cloud-bigquery
    #   google-resumable-media
    #   grpcio
    #   protobuf
    #   python-dateutil
tomlkit==0.12.4
    # via pylint
typing-extensions==4.0.0
    # via
    #   libcst
    #   typing-inspect
typing-inspect==0.6.0
    # via libcst
tzdata==2024.1
    # via pandas
xlrd==2.0.1
    # via -r ../python/ingestion/requirements.in

# The following packages are considered to be unsafe in a requirements file:
# setuptools
