@import '../../styles/variables.module';
@import '../../styles/globals.scss';

.CopyLinkButton {
  padding-left: 12px;
}

.CopyLinkIcon {
  align-items: center;
  display: flex;
  padding: 8px 8px 8px 10px;
}

.LinkIcon {
  margin-right: 7px;
}

.CopyCardLinkText {
  padding-left: 4px;
  color: #000000de;
}

.SnackBarAlert {
  border: 1px solid $bar-chart-light;
}
