@import '../../styles/variables.module';
@import '../../styles/globals.scss';

.DownloadCardButton {
  padding-left: 14px;
}

.DownloadCardLinkIcon {
  align-items: center;
  display: flex;
  padding: 8px 8px 8px 8px;
}

.DownloadCardImageIcon {
  margin-right: 10px;
}

.DownloadCardLinkText {
  padding-left: 2px;
  color: #000000de;
}
