@import '../../styles/variables.module';

.SectionFilterBy {
  display: flex;
}
.FilterBy {
  padding: 6px 8px;
  float: left;
  font-size: $text;
}

.GroupListMenuBox {
  max-width: 95vw;
  width: auto;
  overflow-x: auto;
  padding: 1rem;
}
