@import '../../styles/variables.module';

.SectionFilterBy {
  display: flex;
}

.FilterBy {
  padding: 6px 8px;
  font-size: $small;
  display: flex;
  align-items: center;
}

.GroupListMenuBox {
  max-width: 95vw;
  width: auto;
  overflow-x: auto;
  padding: 1rem;
}

.GroupText {
  text-decoration: underline;
  font-size: $small;
}
