@use "../../styles/globals.scss";
@import "../../styles/variables.module";

.ListBox {
  margin-top: 15px;
  background: $listbox-color;
  border-radius: 8px;
  text-align: left;

  p {
    padding: 1rem;
    margin: 0;
  }

  h4 {
    margin: 0;
  }
}

.ListBoxTitle,
.ListBoxTitleExpanded {
  padding-left: 16px;
  text-align: left;
  cursor: pointer;
}

.ListBoxTitle {
  line-height: 47px; // specific height to vertically center text on collapse/expand arrow

  @media (min-width: $sm) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @media (max-width: $sm) {
    font-size: $smallest;

    .HideOnMobile {
      display: none;
    }
  }
}

.ListBoxTitleExpanded {
  padding: 14px 0 14px 16px;
}

.ListBoxLists {
  margin: 0 16px;
}

.CollapseButton {
  float: right;
}

.ExtremeList {
  padding-right: 2rem;
}
