@import "../../styles/variables.module";

.ListBox {
  margin-top: 15px;
  background: $listbox-color;
  border-radius: 8px;
  size: 14px;
  line-height: 20px;
  text-align: left;
  p {
    padding: 16px;
    margin: 0;
  }
  h4 {
    line-height: 0;
  }
}

.ListBoxTitle,
.ListBoxTitleExpanded {
  padding-left: 16px;
  size: 14px;
  text-align: left;
  margin-right: 50px;
  cursor: pointer;
}

.ListBoxTitle {
  line-height: 47px;
  @media (min-width: $sm) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  @media (max-width: $sm) {
    font-size: $smallest;

    .HideOnMobile {
      display: none;
    }
  }
}

.ListBoxTitleExpanded {
  line-height: 20px;
  padding: 14px 0 14px 16px;
}

.ListBoxLists {
  margin: 0 16px;
}

.CollapseButton {
  float: right;
}

.LinkButton {
  text-decoration: underline !important;
  color: $alt-green !important;
  padding: 0 5px !important;
  margin-top: -2px !important; // To align with the <p> text better
}

.Unit {
  font-size: $smallest;
  font-weight: 200;
  font-stretch: ultra-condensed, extra-condensed, condensed;
  margin-left: 0.075rem;
  letter-spacing: -0.04rem;
}
