@import '../../styles/globals.scss';
@import '../../styles/variables.module';

.Crumb {
  padding: 3px;
}

.CurrentCrumb {
  padding: 3px;
  color: $black !important;
}

.NoteCrumb {
  padding: 3px;
  color: $black !important;
  text-align: start;
}
