@import "../../styles/variables.module";

.MultiMapBox {
  z-index: 1 !important; // to get tooltips to render on top
}

:global(.vega-embed) {
  z-index: 0 !important; // to stop non-modal actions menus from "peeking" through the modal
}

.SmallMultipleMap {
  width: 300px;
  padding: 15px;
  list-style: none;
}

.NoDataWarning {
  margin: 0 !important;
}

.SmallMultipleLegendMap {
  padding-top: 15px;

  @media (min-width: $lg) {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  @media (min-width: $xl) {
    padding-top: 0px;
    padding-bottom: 2rem;
  }
}

.FooterButtonContainer {
  float: right;
}

.FooterSourcesContainer {
  padding: 7px;
}

.TerritoryMap {
  width: 20%;
  float: left;
}
