.SmallMultipleMap {
  width: 300px;
  padding: 15px;
}

.SmallMultipleLegendMap {
  width: 300px;
  padding: 15px;
  text-align: center;
}

.LegendDiv {
  width: 120px;
  margin: auto;
}

.FooterButtonContainer {
  float: right;
}

.FooterSourcesContainer {
  padding: 7px;
}

.Title {
  text-align: left;
  font-weight: 500 !important;
  padding-bottom: 9px !important;
  font-size: 18px !important;
  line-height: 25px !important;
}
