.FooterButtonContainer {
  float: right;
  margin-left: 10px;
}

.FooterSourcesContainer {
  padding: 7px;
}

.Title {
  text-align: left;
  font-weight: bold !important;
}

.Footer {
  font-size: 12px;
  padding-bottom: 6px !important;
  padding-top: 6px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.LoadingContainer {
  padding: 100px;
}
