@import "../../styles/variables.module";

// For the title of the page read off by screenreaders in an h1
.ScreenreaderTitleHeader {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}

/** ------------- TERMS OF USE AND PRIVACY POLICY  ------------- **/

.TosSection {
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid $alt-grey;
}

.TosContent {
  max-width: $max-width;
}

.TosChunk {
  text-align: left;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.TosHeaderText {
  font-size: $header !important;
  text-align: center;
  font-weight: 300;
  font-family: "Taviraj", serif !important;
  line-height: 40px;
  color: $alt-black;
  padding: 0 20px 20px 20px;
  margin: 0 20px 20px 20px;
}

.TosChunkHeader {
  font-size: $title !important;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
  line-height: 23.44px;
  color: $alt-black;
  padding-top: 10px;
  padding-bottom: 15px;
  margin: 0px;
}

.TosChunkDetails {
  font-size: $small;
  text-align: left;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  line-height: 20px;
  color: $alt-black;
}
