@import "../../styles/globals.scss";
@import "../../styles/variables.module";

/** ------------- TERMS OF USE AND PRIVACY POLICY  ------------- **/

.TosSection {
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid $alt-grey;
}

.TosContent {
  max-width: $max-width;
  list-style: none;
  padding-left: 0;
}

.TosChunk {
  @include inter400();
  text-align: left;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: $small;
  color: $alt-black;
}

.TosHeaderText {
  @include tav300();
  font-size: $header !important;
  text-align: center;
  color: $alt-black;
  padding: 0 20px 20px 20px;
  margin: 0 20px 20px 20px;
}

.TosChunkHeader {
  @include dmSans500();
  font-size: $title !important;
  color: $alt-black;
  padding-top: 10px;
  padding-bottom: 15px;
  margin: 0px;
}
