@import '../../styles/variables.module.scss';
@import '../../styles/globals.scss';

.FullArticleContainer {
  overflow-wrap: anywhere;
  width: 100vw;
  max-width: $max-width;
  min-height: $preload-article-height;
  margin: 2rem;
  border-bottom: 1px solid $alt-grey;
  padding: 2rem;

  @media (min-width: $sm) {
    width: 75vw;
  }

  @media (min-width: $md) {
    width: 50vw;
  }

  hr {
    margin-block: 3rem;
    width: 50%;
  }

  p,
  li {
    @include inter400();
    font-size: $title;
    line-height: 150%;
    text-align: left;
    color: $alt-black;
  }

  blockquote > p {
    font-style: italic;
  }

  h1 {
    font-size: $biggerHeader !important;
  }

  h2 {
    font-size: $bigHeader !important;
  }

  h3 {
    font-size: $header !important;
  }

  h4 {
    font-size: $smallestHeader !important;
  }

  h5 {
    font-size: $title !important;
  }

  h6 {
    font-size: $text !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include tav300();
    line-height: 110%;
    color: $alt-green;
    text-align: left;

    // For Heading "Buttons"
    a {
      @include dmSans500();
      background-color: $alt-green;
      color: white !important;
      border-radius: 40px !important;
      padding: 16px 30px !important;
      text-align: center;
      text-decoration: none;
      display: block;
      max-width: 400px;
      margin: 40px auto 0px auto;
      font-size: $smallestHeader !important;
    }
  }

  ol,
  ul,
  blockquote {
    text-align: left;
  }

  img {
    display: block;
    margin: 40px auto 0px auto;
    width: 100%;
    height: auto;
  }

  .ReprintNotice {
    font-style: italic;
    font-size: $small;
  }
}

// hide featured image since already in header; hide HRs; show youtube embed <figure>
:global(.wp-block-post-featured-image) {
  display: none !important;
}

// set youtube video container to proper aspect ratio
:global(.wp-block-embed-youtube .wp-block-embed__wrapper) {
  margin-block: 3rem;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

// fill iframe to above container
:global(.wp-block-embed-youtube .wp-block-embed__wrapper) > iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 20px;
}
