@import "../../styles/globals.scss";
@import "../../styles/variables.module";

.LearnMoreAboutHealthEquity {
  @include inter500();
  font-size: $smallestHeader !important;
  text-decoration: underline !important;
}

/** ------------- HEADER ROW ------------- **/

.HeaderRow {
  border-bottom: $bottom-border-style;
  padding-top: 1rem;
  padding-bottom: 2rem;

  .HeaderTextItem {
    justify-content: center;
    padding: 25px;
    text-align: left !important;
  }

  .HeaderText {
    @include tav300();
    text-align: left;
    color: $alt-green;
    font-size: $biggerHeader;
    line-height: $lhNormal;

    @media (min-width: $sm) {
      font-size: $biggestHeader;
      padding-bottom: 20px;
    }
  }

  .HeaderSubtext {
    @include inter400();
    font-size: $text;
    text-align: left;
  }

  .HeaderImgItem {
    @media (min-width: $md) {
      border-left: 1px solid $border-color;
    }
  }

  .HeaderImg {
    border-radius: 30px;
    height: auto;
    max-height: $header-height;
    width: 100%;
    max-width: 700px;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
}

/** ------------- RECENT NEWS ROW ------------- **/

.RecentNewsRow {
  padding: 75px 30px 75px 30px;
  align-items: center;
  border-bottom: $bottom-border-style;

  .RecentNewsHeaderText {
    @include tav300();
    font-size: $biggerHeader;
    text-align: center;
    color: $alt-green;
  }

  .RecentNewsHeaderSubtext {
    @include inter400();
    font-size: $title;
    text-align: center;
    padding-bottom: 4rem;
  }

  .RecentNewsItem {
    padding: 0 15px 0 15px;
  }
}

/** ------------- HOW TO SECTION ------------- **/

.HowToRow {
  padding: 75px 30px 120px 30px;
  align-items: center;
  border-bottom: $bottom-border-style;

  ul {
    padding-inline-start: 0px;
  }

  .HowToHeaderText {
    @include tav300();
    font-size: $bigHeader;
    text-align: center;
    color: $alt-green;
    padding-bottom: 56px;
  }

  .HowToStepContainer {
    border: 1px solid $how-to-color;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
  }

  .HowToStepImg {
    padding: 10px;
    width: 100%;
    height: 100%;
  }

  .ResourceVideoEmbed {
    border-radius: 30px;
  }

  .HowToStepTextHeader {
    @include dmSans500();
    font-size: $smallestHeader;
    text-align: center;

    @media only screen and (min-width: $md) {
      text-align: left;
    }
  }

  .HowToStepTextSubheader {
    @include inter400();
    font-size: $text;
    letter-spacing: 0.1px;
    text-align: center;

    @media only screen and (min-width: $md) {
      text-align: left;
    }
  }
}

/** ------------- FAQ ROW ------------- **/

.FaqRow {
  padding: 50px 30px;
  align-items: center;
  border-bottom: $bottom-border-style;
}

/** ------------- NEWSLETTER SIGN UP ROW ------------- **/

.NewsletterSignUpRow {
  padding: 100px 30px 10px 30px;
  align-items: center;

  .NewsletterRowHeader {
    @include tav500();
    text-align: center;
    color: white;
    padding: 30px;
    font-size: clamp($bigHeader, 5vw, $biggestHeader) !important;
    line-height: $lhLoose !important;
  }

  .EmailAddressBackgroundImgContainer {
    background-image: url("../../assets/join-movement-bg.jpg");
    background-position: center;
    border-radius: 30px;
    padding: 30px;
    height: 700px;
    max-width: 1253px;
    align-items: center;
    justify-content: space-around;
  }

  .EmailAddressContentDiv {
    position: absolute;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .JoinOurMovementButton {
    @include dmSans500();
    border-radius: 40px !important;
    font-size: $title !important;
    padding: 16px 30px !important;
  }
}
