@import "../../styles/globals.scss";
@import "../../styles/variables.module";

.LearnMoreAboutHealthEquity {
  @include inter500();
  font-size: $smallestHeader !important;
  text-decoration: underline !important;
}

/** ------------- HEADER ROW ------------- **/

.HeaderRow {
  border-bottom: $bottom-border-style;
  padding-top: 1rem;
  padding-bottom: 2rem;

  .HeaderTextItem {
    justify-content: center;
    padding: 25px;
  }

  .HeaderText {
    @include tav300();
    text-align: left;
    color: $alt-green;
    font-size: $bigHeader;
    line-height: $lhNormal;

    @media (min-width: $sm) {
      font-size: $biggerHeader;
    }

    @media (min-width: $lg) {
      font-size: $biggestHeader;
      padding-bottom: 20px;
    }
  }

  .HeaderSubtext {
    @include inter400();
    font-size: $text;
    text-align: left;
  }

  .HeaderImgItem {
    padding: 1rem 3rem;

    @media (min-width: $md) {
      border-left: 1px solid $border-color;
    }
  }

  .HeaderImg {
    border-radius: 30px;
    height: auto;
    max-height: $header-height;
    width: 100%;
    max-width: 700px;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
}

.ExploreDataButton {
  @include dmSans500();
  background-color: $alt-green;
  color: white !important;
  border-radius: 40px !important;
  font-size: $explore-button !important;
  padding: 18px 30px !important;
  text-align: center;
  min-width: 200px !important;
}

/** ------------- RECENT NEWS ROW ------------- **/

.RecentNewsRow {
  padding: 75px 30px 75px 30px;
  align-items: center;
  border-bottom: $bottom-border-style;

  .RecentNewsHeaderText {
    @include tav300();
    font-size: $header;
    text-align: center;
    color: $alt-green;

    @media (min-width: $lg) {
      font-size: $biggerHeader;
    }
  }

  .RecentNewsHeaderSubtext {
    @include inter400();
    font-size: $title;
    text-align: center;
    padding-bottom: 4rem;
  }

  .RecentNewsItem {
    padding: 0 15px 0 15px;
  }
}

/** ------------- HOW TO SECTION ------------- **/

.HowToRow {
  padding: 75px 30px 120px 30px;
  align-items: center;
  border-bottom: $bottom-border-style;

  ul {
    padding-inline-start: 0px;
  }

  .HowToHeaderText {
    @include tav300();
    font-size: $bigHeader;
    text-align: center;
    color: $alt-green;
    padding-bottom: 56px;
  }

  .HowToStepContainer {
    border: 1px solid $how-to-color;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
  }

  .HowToStepImg {
    padding: 10px;
    width: 100%;
    height: 100%;
  }

  .ResourceVideoEmbed {
    border-radius: 30px;
  }

  .HowToStepTextHeader {
    @include dmSans500();
    font-size: $smallestHeader;
    text-align: center;

    @media only screen and (min-width: $md) {
      text-align: left;
    }
  }

  .HowToStepTextSubheader {
    @include inter400();
    font-size: $text;
    letter-spacing: 0.1px;
    text-align: center;

    @media only screen and (min-width: $md) {
      text-align: left;
    }
  }
}

/** ------------- FAQ ROW ------------- **/

.FaqRow {
  padding: 50px 30px;
  align-items: center;
  border-bottom: $bottom-border-style;
}

/** ------------- NEWSLETTER SIGN UP ROW ------------- **/

.NewsletterSignUpRow {
  padding: 100px 30px 10px 30px;
  align-items: center;
}

.NewsletterSignUpHeader {
  @include tav300();

  color: $alt-green;
  margin-top: 2rem;
  font-size: $header;
  margin-bottom: 1rem;
}

.EmailTextField input {
  padding: 9px;
}

.EmailAddressFormSubmit {
  padding: $lhNormal;
}
