@use "../../styles/globals.scss";
@import "../../styles/variables.module";

.LearnMoreAboutHealthEquity {
  font-weight: 500 !important;
  font-size: $smallestHeader !important;
  text-decoration: underline !important;
}

/** ------------- HEADER ROW ------------- **/

.HeaderRow {
  border-bottom: $bottom-border-style;

  .HeaderTextItem {
    justify-content: center;
    padding: 25px;
    text-align: left !important;
  }

  .HeaderText {
    text-align: left;
    font-weight: 300;
    font-family: "Taviraj", serif !important;
    color: $alt-green;
    font-size: $biggerHeader;
    line-height: $lhNormal;
    @media (min-width: $sm) {
      font-size: $biggestHeader;
      padding-bottom: 20px;
    }
  }

  .HeaderSubtext {
    font-size: $text;
    text-align: left;
    font-weight: 400;
    font-family: "Inter", sans-serif !important;
  }

  .HeaderImgItem {
    @media (min-width: $md) {
      border-left: 1px solid $border-color;
    }
  }

  .HeaderImg {
    border-radius: 30px;
    height: auto;
    max-height: $header-height;
    width: 100%;
    max-width: 700px;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
}

/** ------------- TAKE A LOOK AROUND ROW ------------- **/

.TakeALookAroundRow {
  padding: 75px 30px 75px 30px;
  align-items: center;
  border-bottom: $bottom-border-style;

  .TakeALookAroundHeaderText {
    font-size: $biggerHeader;
    text-align: center;
    font-weight: 400;
    font-family: "Taviraj", serif !important;
    color: $alt-green;
    padding-bottom: 20px;
  }

  .TakeALookAroundHeaderSubtext {
    font-size: $title;
    text-align: center;
    font-weight: 400;
    font-family: "Inter", sans-serif !important;
  }

  .TakeALookAroundItemRow {
    padding: 35px;
  }

  // For each item in the "Where We Aim To Go" section
  .TakeALookAroundItem {
    padding: 0 15px 0 15px;
  }

  // For each image in the "Where We Aim To Go" section
  .TakeALookAroundImg {
    height: auto;
    max-height: 255px;
    width: 100%;
    max-width: 255px;
  }

  .TakeALookAroundText {
    font-size: $title;
    text-align: center;
    font-weight: 400;
    font-family: "Inter", sans-serif !important;
    color: $alt-green;
  }
}

/** ------------- TIME TO PRIORITIZE HEALTH EQUITY ROW  ------------- **/

.PrioritizeHealthEquityRow {
  .PrioritizeHealthEquityTextItem {
    justify-content: center;
    padding: 56px;
    text-align: left !important;

    .PrioritizeHealthEquityHeader {
      font-size: $biggerHeader;
      text-align: left;
      font-weight: 400;
      font-family: "Taviraj", serif !important;
      color: $alt-green;
      padding-bottom: 20px;
    }

    .PrioritizeHealthEquityHeaderSubtext {
      font-size: $title;
      text-align: left;
      font-weight: 400;
      font-family: "Inter", sans-serif !important;
    }
  }

  .PrioritizeHealthEquityImgItem {
    border-right: 1px solid $border-color;
    display: flex;
    justify-content: center;
  }

  .PrioritizeHealthEquityImg {
    width: 95%;
    max-width: 560px;
    height: auto;
    border-radius: 30px;
    margin: 10px;
  }
}

/** ------------- HOW TO SECTION ------------- **/

.HowToRow {
  padding: 120px 30px 120px 30px;
  align-items: center;
  border-bottom: $bottom-border-style;
  border-top: 1px solid $border-color;

  ul {
    padding-inline-start: 0px;
  }

  .HowToHeaderText {
    font-size: $bigHeader;
    text-align: center;
    font-weight: 300;
    font-family: "Taviraj", serif !important;
    color: $alt-green;
    padding-bottom: 56px;
  }

  .HowToStepContainer {
    border: 1px solid $how-to-color;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
  }

  .HowToStepImg {
    padding: 10px;
    width: 100%;
    height: auto;
  }

  .HowToStepTextHeader {
    font-family: "DM Sans", sans-serif !important;
    font-weight: 500;
    font-size: $smallestHeader;
    text-align: center;
    @media only screen and (min-width: $md) {
      text-align: left;
    }
  }

  .HowToStepTextSubheader {
    font-family: "Inter", sans-serif !important;
    font-weight: 400;
    font-size: $text;
    letter-spacing: 0.1px;
    text-align: center;
    @media only screen and (min-width: $md) {
      text-align: left;
    }
  }
}

/** ------------- FAQ ROW ------------- **/

.FaqRow {
  padding: 50px 30px;
  align-items: center;
  border-bottom: $bottom-border-style;
}

/** ------------- NEWSLETTER SIGN UP ROW ------------- **/

.NewsletterSignUpRow {
  padding: 100px 30px 10px 30px;
  align-items: center;

  .NewsletterRowHeader {
    font-family: "Taviraj", sans-serif !important;
    text-align: center;
    font-weight: 400 !important;
    color: white;
    padding: 30px;
    font-size: clamp($bigHeader, 5vw, $biggestHeader) !important;
    line-height: $lhLoose !important;
  }

  .EmailAddressBackgroundImgContainer {
    background-image: url("../../assets/join-movement-bg.jpg");
    background-position: center;
    border-radius: 30px;
    padding: 30px;
    height: 700px;
    max-width: 1253px;
    align-items: center;
    justify-content: space-around;
  }

  .EmailAddressContentDiv {
    position: absolute;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .JoinOurMovementButton {
    border-radius: 40px !important;
    font-size: $title !important;
    font-weight: 500 !important;
    font-family: "DM Sans", sans-serif !important;
    padding: 16px 30px !important;
  }
}
