@import "../../styles/variables";

// TODO: merge these styles into MaterialTheme.tsx, App.module.scss, and
// LandingPage.module.scss, and delete this file.
.App {
  text-align: center;
  position: relative;
  min-height: 100%;
  background-color: #4733bf;
}

.Content {
  padding-bottom: $footer-size;
  height: 100%;
}

.PreLaunchSnippet {
  color: #ffffff;
  text-align: left;
  padding: 28px;
}

.PreLaunchText {
  font-size: 20px;
}

.Grid {
  padding-top: 30px;
  margin: auto;
  max-width: 1000px;
}

.HomeLogo {
  flex-grow: 1;
  text-align: left;
  font-family: "Montserrat" !important;
  color: #4733bf;
  padding-left: 20px;
  a:link,
  a:visited {
    color: $white;
    text-decoration: none;
  }
}
