@import "../../../styles/variables";

.DatasetExplorer {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
  width: 90%;
  max-width: $max-width;
  text-align: center;
}

.FilterContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.FilterTitle {
  padding: 5px;
  font-size: large;
}

.Filter {
  text-align: left;
  flex-grow: 1;
  padding: 5px;
}

.DatasetListItem {
  padding: 5px;
  width: 100%;
}

.DatasetList {
  width: 100%;
}

.Dataset {
  padding-bottom: 3px;
  padding-top: 3px;
  display: flex;
  flex-direction: row;
}

.Table {
  padding: 5px;
}

/** ------------- DATA DOWNLOADS ------------- **/

.DatasetHeader {
  padding: 10px 0 10px 0;
}

.DataDownloadsHeaderText {
  font-size: 32px !important;
  line-height: 32px !important;
  font-weight: 400;
  font-family: "Taviraj", sans-serif !important;
  text-align: center;
  color: $alt-black;
  padding: 5px 0 5px 0;
}

.DataDownloadsHeaderSubtext {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: "Inter", sans-serif !important;
  color: $alt-black;

  .DataDownloadsExploreLink {
    text-decoration: underline;
    background-color: transparent;
  }
}
