@import "../../../styles/variables.module";

.Description {
  text-align: left;
  line-height: 20px;
}

.DataSourceListing {
  padding: 20px;
  padding-bottom: 10px;
}

.DatasetTitle {
  font-size: $title;
  font-family: "Taviraj", serif !important;
}

.Footer {
  height: 29px;
  margin-bottom: 0px;
  margin-top: 10px;

  Button {
    min-width: 10px;
  }
}

.CardFooterRight {
  float: right;
}

.MetadataTable {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;

  td {
    padding-right: 15px;
  }
}

.DownloadListItem {
  padding-right: 24px !important;
  padding-left: 24px !important;
}

.DownloadListItemText {
  line-height: 24px;
}

.DownloadIcon {
  height: 24px !important;
  width: 24px !important;
}
