@import "../../../styles/variables.module";

.FlexRow {
  display: flex;
  flex-direction: row;
  padding: 3px;
}

.FlexCol {
  display: flex;
  flex-direction: column;
  padding: 3px;
}

.Description {
  text-align: left;
  line-height: 20px;
}

.DataSourceListing {
  padding: 20px;
  padding-bottom: 10px;
}

.DatasetTitle {
  font-size: 20px;
  font-family: "Taviraj", serif !important;
}

.Footer {
  height: 29px;
  margin-bottom: 0px;
  margin-top: 10px;

  Button {
    min-width: 10px;
  }
}

.CardFooterRight {
  float: right;
}

.MetadataTable {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;

  td {
    padding-right: 15px;
  }
}

.DownloadListItem {
  padding-right: 24px !important;
  padding-left: 24px !important;
}

.DownloadListItemText {
  line-height: 24px;
}

.DownloadIcon {
  height: 24px !important;
  width: 24px !important;
}

.DialogTitle {
  min-width: 485px !important;
  padding: 10px 24px 0px 24px !important;
}

.DialogTitleText {
  // Same height as close button
  line-height: 48px !important;
  float: left;
}

.CloseDialogButton {
  float: right;
}
