@import "../../../styles/globals.scss";
@import "../../../styles/variables.module";

.DatasetExplorer {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
  width: 90%;
  max-width: $max-width;
  text-align: center;
}

.DatasetList {
  width: 100%;
  list-style: none;
  padding-inline-start: 0;
}

.DatasetListItem {
  padding: 5px;
  width: 100%;
  padding-bottom: 3px;
  padding-top: 3px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

/** ------------- DATA DOWNLOADS ------------- **/

.DatasetHeader {
  padding: 10px 0 10px 0;
}

.DataDownloadsHeaderText {
  @include tav300();
  font-size: $smallHeader !important;
  text-align: center;
  color: $alt-black;
  padding: 5px 0 5px 0;
}

.DataDownloadsHeaderSubtext {
  @include inter400();
  font-size: $small;
  color: $alt-black;

  .DataDownloadsExploreLink {
    text-decoration: underline;
    background-color: transparent;
  }
}
