@import '../../../styles/globals.scss';
@import '../../../styles/variables.module.scss';

/** ------------------ METHODOLOGY v2 -------------------- **/
html {
  scroll-behavior: smooth;
}

.Header {
  font-weight: 300 !important;
}

.MethodologySectionWrapper {
  // display: inline-flex;
  // flex-direction: row;
  // // max-width: 95vw;
  // margin: 1% auto;
  // // justify-content: flex-start;
  // justify-content: space-between;
  // align-items: flex-start;
  // align-content: flex-start;
  // gap: 5rem;
  // flex-wrap: unset;
  // width: 95vw;
}

.SectionWrapper {
  padding: 0;
}

.ArticleContainer {
  // display: inline-flex;
  display: flex;
  // justify-content: space-between;
  width: 100%;
  text-align: left;
}

.ArticleContainer h1 {
  text-align: left;
  color: rgba(0, 0, 0, 0.87);

  /* Taviraj/H3 */
  font-family: Taviraj;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8875rem; /* 94.375% */
  letter-spacing: 0.022rem;
}

.ArticleContainer section {
  display: flex;
  // flex-direction: row;
  flex-direction: row-reverse;
  justify-content: space-between;
  // min-width: 40vw;
  gap: 5rem;
  width: 100%;
}

.ArticleContainer article {
  // display: inline-block;
  // min-width: 50vw;
  width: 100%;
  // margin: 1% auto;
}

// .ArticleContainer body {
//   scroll-margin-top: 0;
// }

.CardMenu {
  border-radius: 0.25rem;
  background: #fff;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  padding: 1%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 20vw;
  position: sticky;
}

.CardMenu a {
  text-decoration: none;
  color: #383838;
}

.CardMenu span {
  color: var(--0-b-5240, #0b5240);
  /* DM Sans */
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
}

.CardMenu p {
  color: var(--383838, #383838);
  /* Inter/Menu/Regular */
  font-family: Inter;
  font-style: normal;
  // font-weight: 400;
}

.active {
  color: var(--0-b-5240, #0b5240) !important;
  font-weight: 700 !important;
  // border-left: 2px solid var(--0-b-5240, #0b5240);
}

.SubMenu {
  text-align: left;
  min-width: 10vw;
  position: sticky;
  right: 0;
  top: 0;
  z-index: 9999;
}

.SubMenu p {
  color: #000;
  font-family: Inter;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.30625rem; /* 209% */
  letter-spacing: 0.00688rem;
}

.SubMenu h4 {
  margin: 0.5rem auto;
  color: #000;

  /* DM Sans/H4 */
  font-family: DM Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.30625rem; /* 130.625% */
  letter-spacing: 0.011rem;
}

.SubMenu a {
  text-decoration: none;
  color: #000;
  padding-inline-start: 1.5rem;

  // padding-right: 1rem;
  display: block;
  /* Inter/p */
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
  letter-spacing: 0.0245rem;
}

// .SubMenu a:active,
// a:focus {
//   color: var(--0-b-5240, #0b5240);
//   font-weight: 700;
//   border-left: 2px solid var(--0-b-5240, #0b5240);
// }

.NavigationButtonsDiv {
  // text-align: right;
  display: flex;
  align-self: stretch;
  flex: 1 0 0;
  justify-content: space-between;
}

.Previous {
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.Previous span {
  justify-content: flex-start;
}

.Next {
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}

.Next span {
  justify-content: flex-end;
}

// .NavigationButtonsDiv #previous {
//   align-items: flex-start;
// }

// .NavigationButtonsDiv #previous span {
//   justify-content: flex-start;
// }

.NavigationButtonsDiv button {
  font-family: DM Sans;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4rem;
  letter-spacing: 0.0375rem;
  color: var(--m-3-sys-light-on-surface, #1d1b20);
  display: flex;

  width: 20rem;
  flex-direction: column;
  justify-content: center;
  // align-items: flex-end;
  // flex-shrink: 0;
  border-radius: 1.75rem;
  background: rgba(11, 82, 64, 0.3);
}

.ButtonHeader {
  display: flex;
  height: 3.5rem;
  padding: 0.5rem;
  // justify-content: flex-start;
  align-items: center;
  // gap: 0.25rem;
  align-self: stretch;
  // flex: 1 0 0;
  color: var(--m-3-sys-light-on-surface, #1d1b20);

  /* Inter */
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.30625rem; /* 130.625% */
  letter-spacing: 0.011rem;
}

.ButtonContentDiv {
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
  justify-content: center;
  // align-items: flex-end;
  gap: 0.625rem;
  flex: 1 0 0;
  align-self: stretch;
  // height: 3rem;
}

.ButtonContentDiv span {
  // padding: 1rem;
}

/** ------------------ METHODOLOGY -------------------- **/

.MethodologySection {
  padding: 50px 20px 50px 20px;
  margin: auto;
  max-width: $max-width;
}

.MethodologyQuestionAndAnswer {
  padding-bottom: 1.5rem;
}

.MethodologyQuestion {
  @include tav300();
  font-size: $smallestHeader;
  text-align: left;
  color: $alt-black;
}

.MethodologyAnswer {
  @include inter400();
  font-size: $small;
  text-align: left;
  color: $alt-black;
}

.MethodologySubsubheaderText {
  @include inter500();
  font-size: $text;
  // margin-top: 5rem;
  margin-top: 2rem;
}

.MethodologyInfoBar {
  background-color: $infobar-color;
  padding: 2px 10px 2px 10px;
  border-radius: 8px;
  font-size: $small;
}

p.CitationAPA {
  padding-left: 3rem;
  padding-right: 1rem;
  margin: 1rem initial;
}

p.CitationAPA:first-of-type {
  text-indent: -2rem;
}

.MissingDataBox {
  padding: 1rem 2rem;
  background-color: $standard-warning !important;
}

.WhyBox {
  padding: 1rem 2rem;
  background-color: $standard-info !important;
}

/* AGE ADJUSTMENT */

.AgeAdjustmentSection {
  padding: 5px 20px 50px 20px;
  margin: auto;
  max-width: $max-width;
}

.AgeAdjustmentHeader {
  @include tav300();
  font-size: $smallHeader;
  text-align: center;
  color: $alt-black;
}

.ExampleTable {
  margin: 1rem;
}

.ExampleTable,
.ExampleTable td {
  border: 1px solid $bg-color;
  border-collapse: collapse;
  padding: 5px;
}

.ExampleTable thead {
  background-color: $join-effort-bg1;
  font-weight: bold;
}

.ExampleTable tr:nth-child(even) {
  background-color: $explore-bg-color;
}

.Highlighted {
  background-color: $standard-warning;
  font-weight: bold;
  outline: 3px solid $alert-color;
}

.Calculation {
  font-style: italic;
  font-size: $smallest;
}

pre,
code {
  border: 1px solid $bg-color;
  padding: 5px;
  margin: 3px 3px 2rem 3px;
  background-color: $explore-bg-color;
  font-size: $smallest;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.StickyHeader {
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 1000; /* Ensuring it stays above other elements. Adjust this value if needed. */
  background-color: white; /* To ensure the text is readable when overlaying other content. */
}
