@import '../../styles/globals.scss';

// Axes
.Axes {
  > g path:first-child {
    opacity: 0.3; /* fade y-domain */
  }

  > g path:last-child {
    opacity: 0; /* hide x-domain */
  }
}

// Line styles
.Indicators {
  line {
    stroke: $black;
  }
}
