@import "../../styles/globals.scss";

$spacingSmall: 6px;
$spacingMedium: 18px;
$spacingLarge: 36px;

.TrendsChart {
  // styles for trends chart container
  @include inter400;
}

.FilterWrapper {
  margin-bottom: $spacingLarge;
}
/* Filter Legend Styles */
.FilterLegend {
  @include inter400;
  font-size: $small;

  // Legend Title
  .LegendTitle {
    @include inter500;
    margin-bottom: $spacingMedium;
  }

  // Filter legend buttons wrapper
  .LegendItems {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  // Filter legend button
  .LegendItem {
    // remove default button styling
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    // distribute swatch and label
    display: flex;
    align-items: center;
    // create space around button
    margin: 0 $spacingMedium $spacingSmall 0;
    // transition opacity on selection
    opacity: 1;
    transition: opacity 250ms ease-in-out;
  }

  // Filter legend button square color swatch
  .swatch {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    flex-shrink: 0; // prevent distortion
    margin-right: $spacingSmall; // create space between swatch and label
  }
}

.Axes,
.AxesLabels {
  text {
    @include inter400;
    font-size: $smallest;
  }
  .xAxis path {
    opacity: 0;
  }
}
