@import "../../styles/globals.scss";

$spacingSmall: 6px;
$spacingSmaller: 12px;
$spacingMedium: 18px;
$spacingLarge: 36px;
$breakpoint-mobile: 600px;

@mixin hoverTransition {
  opacity: 1;
  transition: opacity 250ms ease-in-out, transform 200ms linear;
}

figure {
  margin: 0 0 0 0;
}

.TrendsChart {
  // styles for trends chart container
  @include inter400;

  // lines styles
  .TrendLine {
    fill: none;
    stroke-width: 2.5;
    stroke-linecap: round;
  }

  // axes styles
  .Axes {
    text {
      @include inter400;
      font-size: $smallest;
    }

    .xAxis path {
      opacity: 0; // do not display x-domain
    }

    .yAxis path {
      opacity: 0.3; // fade y-domain
    }
  }

  // labels for axes
  .AxesLabels {
    text {
      @include inter500; // make bolder than tick marks
      font-size: $smallest;
    }
  }

  // legend for unknown circles
  .CircleLegend,
  .UnknownCircles {
    text {
      opacity: 1;
      font-size: $smallest;
      transition: opacity 200ms linear 100ms;

      &.invisible {
        opacity: 0;
      }

      &.title {
        @include inter500; // make title bolder than number labels
      }
    }
  }

  // visibility classes
  .hidden {
    display: none;
  }

  .invisible {
    opacity: 0;
  }

  .disabled {
    opacity: 0.3; // failing a11y; need minimum opacity .55
    cursor: not-allowed !important;
  }
}

/* Filter Legend Styles */
.FilterWrapperSkinny {
  // mobile and skinny compare views
  margin: 0 0 $spacingMedium 8px; // align filter with chart margin
}

.FilterWrapperWide {
  margin: 0 0 $spacingMedium 48px; // align filter with chart margin
}

.FilterLegend {
  @include inter400;
  font-size: $small;

  // Clear Filter X
  .CloseX {
    margin-left: 5px;
  }

  // Legend Title
  .LegendTitle {
    @include inter500;
    margin-bottom: $spacingMedium;
    text-align: left;
    display: flex;
    align-items: center;

    button {
      // remove default button styling
      background: none;
      color: inherit;
      font: inherit;
      cursor: pointer;
      // give space
      margin-left: $spacingMedium;
      // style border
      border: solid 1px;
      border-radius: 3px;
      padding: 0 $spacingSmall;
    }
  }

  // Filter legend buttons wrapper
  .LegendItems {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;

    @media screen and (max-width: 1400px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  //Apply grid style for compare view
  div[id="compare-view"] {
    grid-template-columns: repeat(2, 1fr);
  }

  div[id="compare-view-small"] {
    grid-template-columns: repeat(1, 1fr);
  }

  // Filter legend button
  .LegendItem {
    // remove default button styling
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    // distribute swatch and label
    display: flex;
    align-items: center;
    text-align: start;
    // create space around button
    margin: 0 $spacingMedium $spacingSmall 0;
    // transition opacity on selection
    opacity: 1;
    transition: opacity 250ms ease-in-out;
  }

  // Filter legend button square color swatch
  .swatch {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    flex-shrink: 0; // prevent distortion
    margin-right: $spacingSmall; // create space between swatch and label
    // border only for "all" category
    border-width: 2px;
    border-style: dashed;
    border-color: transparent;
  }
}

/* Tooltip Styles */

.TooltipWrapper {
  position: absolute;
  pointer-events: none;
  @include hoverTransition();

  div {
    transition: transform 300ms linear;
  }
}

.Indicators,
.HoverCircle {
  @include hoverTransition();

  line {
    stroke: $black;
  }
}

.Tooltip {
  height: 100%;
  border: 1px solid $alt-grey;
  border-radius: 3px;
  background-color: $white;
  width: min-content;
  padding: $spacingSmaller;
  white-space: nowrap;
  @include inter500;
  font-size: $small;

  .title {
    padding-bottom: $spacingSmaller;
    text-align: center;
    border-bottom: 1px solid $alt-grey;

    .subtitle {
      margin-top: 4px;
      @include inter400;
      font-size: $smallest;
    }
  }

  .grid {
    padding-top: $spacingSmaller;
    font-size: $smallest;
    display: grid;
    grid-template-columns: 1fr 50px 1fr;
    grid-gap: 4px 8px;
    align-items: center;
    justify-items: start;

    .bar {
      transition: width 200ms linear;
      height: 10px;
    }

    .label {
      white-space: nowrap;
      justify-self: end;

      span {
        @include inter400;
      }
    }
  }
}
