@import "../../styles/variables";

.AboutUsPage {
  text-align: left;
  h1 {
    font-size: 18px;
    line-height: 23px;
  }
  padding-bottom: 100px;
}

.Grid {
  margin: auto;
  max-width: 1440px;
  font-family: "Inter", serif;
}

.GridSection {
  padding: 30px;

  .GridSubSection {
    padding: 20px;
  }
}

.FaqGrid {
  max-width: 1024px;
}

.FaqSection {
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid $alt-grey;
}

.FaqQuestionAndAnswer {
  padding-bottom: 20px;
  padding-right: 250px;
}

.FaqHeaderText {
  font-size: 32px !important;
  text-align: center;
  font-weight: 300;
  font-family: "Taviraj", serif !important;
  line-height: 40px;
  color: $alt-black;
  padding-bottom: 20px;
}

.FaqQuestion {
  font-size: 18px !important;
  text-align: left;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
  line-height: 23.44px;
  color: $alt-black;
  padding-top: 10px;
  padding-bottom: 15px;
}

.FaqAnswer {
  font-size: 14px;
  text-align: left;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  line-height: 20px;
  color: $alt-black;

  .FaqContactUsButton {
    border: none;
    text-decoration: underline;
    background-color: transparent;
  }
}

.FaqSubheaderText {
  font-weight: 700;
  font-family: "Inter", sans-serif !important;
}

.GridSectionHeaderText {
  padding: 30px;
  justify-content: center;

  .HeaderText {
    font-size: 48px;
    text-align: center;
    font-weight: 300;
    font-family: "Taviraj", serif !important;
    line-height: 40px;
    color: $alt-green;
    padding-bottom: 20px;
  }

  .HeaderSubtext {
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    line-height: 24px;
    font-family: "Inter", serif !important;
  }
}

.UnderlinedHeader {
  font-size: 28px;
  line-height: 26px;
  border-bottom: 2px solid #9aa0a6;
  margin: 25px 0 25px 0;
  font-family: "Taviraj", serif !important;
  text-align: left;
}

.TextProfile {
  padding: 12px;
}

.GreyGridItem {
  background-color: #f9f9f9;
  padding: 70px;
}

.MajorLink {
  color: $alt-green;
  font-weight: 600;
}
