@use "../../styles/globals.scss";
@import "../../styles/variables.module";

// For styles Grid-wide
.Grid {
  margin: auto;
  max-width: 1440px;
  font-family: "Inter", serif;
}

/** ------------- TYPES OF GRID ROWS ------------- **/

// Generic grid row with no special styling
.GridRow {
  padding: 30px;

  // Generic grid subrow with no special styling
  .GridSubRow {
    padding: 20px 0 20px 0;
    list-style: none;
  }
}

// Generic grid subrow with no special styling
.GridSubRow {
  padding: 20px 0 20px 0;
}

// Grid rows that have outlines and an image in one cell.
.GridOutlinedImgRow {
  .GridVerticallyAlignedItem {
    justify-content: center;
    padding: 25px;
  }

  .HeaderText {
    font-size: $biggerHeader;
    text-align: left;
    font-weight: 300;
    font-family: "Taviraj", serif !important;
    color: $alt-green;
    padding-bottom: 20px;
  }

  .SubheaderL1Text {
    font-family: "Taviraj", sans-serif;
    font-weight: 300;
    font-size: $header;
    padding: 10px 0 10px 0;
  }

  .SubheaderL2Text {
    font-family: "Taviraj", sans-serif;
    font-weight: 300;
    font-size: $smallHeader;
    padding: 10px 0 10px 0;
    text-align: left !important;
  }

  .HeaderSubtext {
    font-size: $title;
    text-align: left;
    font-weight: 300;
    font-family: "Inter", sans-serif !important;
  }

  .HeaderSubtextL2 {
    font-size: $text;
    text-align: left;
    font-weight: 300;
    font-family: "Inter", sans-serif !important;
  }

  .HeaderSubtextL3 {
    font-size: $small;
    text-align: left;
    font-weight: 400;
    font-family: "Inter", sans-serif !important;
  }
}

.GridRowHeaderText {
  padding: 30px;
  justify-content: center;

  .HeaderText {
    font-size: $bigHeader;
    text-align: center;
    font-weight: 300;
    font-family: "Taviraj", serif !important;
    color: $alt-green;
    padding-bottom: 20px;
  }

  .HeaderSubtext {
    font-size: $title;
    text-align: left;
    font-weight: 300;
    font-family: "Inter", serif !important;
  }
}

// Grid rows with outlines.
.GridOutlinedRow {
  align-items: center;
  border-top: 1px solid $border-color;

  @media (min-width: $lg) {
    padding: 147px 120px 147px 120px;
  }

  @media (max-width: $lg) {
    padding: 100px;
  }

  @media (max-width: $md) {
    padding: 80px;
  }

  @media (max-width: $sm) {
    padding: 40px;
  }
  .GridVerticallyAlignedItem {
    justify-content: center;
  }

  .HeaderText {
    font-size: $bigHeader;
    text-align: center;
    font-weight: 300;
    font-family: "Taviraj", serif !important;
    color: $alt-green;
    padding-bottom: 20px;
  }

  .SubheaderL1Text {
    font-family: "Taviraj", sans-serif;
    font-weight: 300;
    font-size: $header;
    padding: 0 0 10px 0;
  }

  .SubheaderL2Text {
    font-family: "Taviraj", sans-serif;
    font-weight: 300;
    font-size: $smallestHeader;
    padding: 30px 0 1rem 0;
    text-align: left;
  }

  .HeaderSubtext {
    font-size: $title;
    text-align: left;
    font-weight: 300;
    font-family: "Inter", serif !important;
  }

  .HeaderSubtextL2 {
    font-size: $text;
    text-align: left;
    font-weight: 300;
    font-family: "Inter", sans-serif !important;
  }

  .HeaderSubtextL3 {
    font-size: $small;
    text-align: left;
    font-weight: 400;
    font-family: "Inter", sans-serif !important;
  }
}

/** ------------- HEADERS ------------- **/

// Underlined Header
.UnderlinedHeaderL2 {
  font-size: $smallHeader !important;
  border-bottom: 1.5px solid $alt-green;
  margin: 25px 0 25px 0;
  font-family: "Taviraj", serif !important;
  text-align: left;
  font-weight: 400;
}

/** ------------- THE PROJECT ------------- **/

// For each item in the "Where We Aim To Go" section
.GoalList {
  display: flex;
  padding-left: 0;
}

.GoalListItem {
  padding: 0 1.5rem 0 1.5rem;
  list-style: none;
}

// For each image in the "Where We Aim To Go" section
.ImgAimToGo {
  width: 100%;
  height: auto;
  max-height: 255px;
  max-width: 255px;
}

// Grid item for each Ethics subheader
.CommittedToEthicsSubheaderItem {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100px;
}

.HeaderImgItem {
  @media (min-width: $md) {
    border-left: 1px solid $border-color;
  }
}

.HeaderImg {
  border-radius: 30px;
  height: auto;
  max-height: $header-height;
  width: 100%;
  max-width: 700px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

/** ------------- OUR TEAM ------------- **/

// For the  header text at the very top of the "Our Team" page
.OurTeamHeaderText {
  font-size: $biggerHeader !important;
  font-weight: 300 !important;
  font-family: "Taviraj", serif !important;
  line-height: $lhTight !important;
  color: $alt-green;
  padding: 72px 0 20px 0;
}

// For headers denoting each subgroup on the team
.TeamHeader {
  font-size: $smallHeader !important;
  border-bottom: 2px solid $team-border-color;
  margin: 25px 0 25px 0;
  font-family: "Taviraj", sans-serif !important;
  text-align: left;
  font-weight: 400 !important;
}

// Profiles items for people in Our Team
.TextProfile {
  padding: 12px;
  width: 200px;
  text-align: center;
}

// For profile images
.ProfileImg {
  max-width: 181px;
  max-height: 181px;
  width: 100%;
  height: auto;
}

// For the name heading
.MemberName {
  font-size: $text;
  font-weight: 500;
  margin: 2px 0;
}

// For the role
.MemberRole {
  font-size: $small;
  font-weight: 400;
}

// For partner images at the bottom of the page
.PartnerImg {
  padding: 10px;
}

/** ------------- CONTACT US ------------- **/

.ContactUsHeaderText {
  font-size: $biggerHeader !important;
  font-weight: 300 !important;
  font-family: "Taviraj", sans-serif !important;
  line-height: $lhNormal !important;
  color: $alt-green;
}

.ContactUsSubheaderText {
  font-weight: 300 !important;
  font-family: "Taviraj", sans-serif !important;
  color: $alt-green;
}

.ImgContactUsHeader {
  width: 100%;
  height: auto;
  max-width: 870px;
  max-height: 645px;
}

.HeaderImgItem {
  @media (min-width: $md) {
    border-left: 1px solid $border-color;
  }
}

.ImgContactUsHeader {
  border-radius: 30px;
  height: auto;
  max-height: $header-height;
  width: 100%;
  max-width: 700px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.ContactUsP {
  margin-top: 2rem;
}
