@import "../../styles/variables";

.ReportAlert {
  margin: 10px;
  border: 1px solid #ff9800;
  text-align: left;
}

.LinkButton {
  text-decoration: underline !important;
  color: $alt-green !important;
  padding: 0 5px !important;
}
