@import '../../styles/globals.scss';
@import '../../styles/variables.module';

.ShareLabel {
  display: none;

  @media only screen and (min-width: $md) {
    display: block;
    @include inter500();
    color: $alt-dark;
    font-size: $smallest;
    box-sizing: border-box;
    letter-spacing: 0.02857em;
    margin-block: 0;
  }
}
