-r ../shared_requirements/requirements.txt
blinker==1.8.2
    # via flask
cffi==1.14.3
    # via google-crc32c
charset-normalizer==3.3.2
    # via requests
click==8.1.7
    # via flask
flask-cors==4.0.1
    # via -r requirements.in
google-crc32c==1.0.0
    # via
    #   google-cloud-storage
    #   google-resumable-media
googleapis-common-protos==1.63.0
    # via google-api-core
packaging==24.0
    # via gunicorn
pyasn1==0.4.8
    # via
    #   pyasn1-modules
    #   rsa
pyasn1-modules==0.2.8
    # via google-auth
pycparser==2.20
    # via cffi