@use "../../styles/globals.scss";
@import "../../styles/variables.module";

.ExploreData {
  background-color: $explore-bg-color;
  height: 100%;
}

.CarouselContainer {
  background: $white;
  box-shadow: 0px 1px 2px rgba(60, 64, 67, 0.3),
    0px 1px 3px 1px rgba(60, 64, 67, 0.15);
  transition: padding 0.2s;
  padding: 0.5rem 0 1rem 0;
}

.Carousel {
  margin: auto;
  width: 98%;

  button {
    padding: 6px;
  }
}

// when scrolled to top of page
.CarouselItem {
  line-height: $lhLoose;
  font-size: $title;

  @media (min-width: $sm) {
    font-size: $smallestHeader;
  }

  @media (min-width: $lg) {
    font-size: $smallerHeader;
  }

  padding: 0px 70px 0px 70px;
  margin: 20px auto 0 auto;
}

.NonClickableMadlibText {
  color: $alt-black;
}

.ReportContainer {
  width: 100%;
}

.LifelineSticky {
  display: none;
}

.RemoveIndicators {
  display: none;
}

// when sticky header appears after scrolling down page (not on small screens)
@media (min-width: $md) {
  .Sticky {
    .CarouselContainer {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: $z-almost-top;
      padding-top: 0;
      padding-bottom: 0;
    }

    .CarouselItem {
      padding: 0px 55px 0px 55px;
      margin: 0.5rem 0 0.5rem 0;
      transition: padding 0.2s margin 0.2s;
    }

    .ReportContainer {
      padding-top: 150px;
    }

    .LifelineSticky {
      display: flex;
      justify-content: center;
    }
  }
}

// override the joyride component to show back button
button[data-action="back"] {
  color: $white !important;
}

//  custom focus styles for warm welcome buttons
button[data-action="primary"]:focus,
button[data-action="close"]:focus,
button[data-action="skip"]:focus,
button[data-action="back"]:focus {
  outline: 1px solid white;
}

.CategoryList {
  ul span,
  ul h2 {
    display: flex;
    font-size: $smallest !important;
    line-height: $lhTight;

    @media only screen and (min-width: $md) {
      font-size: $text !important;
      line-height: $lhLoose;
    }
  }
}

.HowToStepImg {
  padding: 10px;
  width: 100%;
  height: 100%;
}
