.SearchForText,
.CategoryTitleText {
  font-size: 12pt;
  font-weight: bold;
}

.NoteText {
  font-size: 10pt;
  color: grey;
  font-style: italic;
}

.OptionsSelectorPopover {
  padding: 20px;
  min-width: 385px;
}

.PopoverOverride {
  margin-right: 16px;
}

.VariablesBoxPopover {
  display: flex;
  flex-wrap: wrap;
}

.CategoryList {
  padding: 20px;
  margin-inline: 20px;
}

.MadLibButton {
  font-size: 25px !important;
  font-weight: normal !important;
  text-decoration: underline !important;
  text-underline-offset: 3px !important;
  margin-bottom: 3px !important;
}
