@import "../../styles/variables.module.scss";
@import "../../styles/globals.scss";

// heading for expanded TOPIC menu
.PopoverTitle {
  font-size: $text;
  padding-inline: 1rem;

  @media only screen and (min-width: $sm) {
    font-size: $title;
  }
}

// heading for expanded LOCATION menu/combobox
.SearchForText {
  @include inter700();

  margin-block: 0.3rem;
  font-size: $text;

  @media only screen and (min-width: $md) {
    font-size: $title;
  }
}

.CategoryTitleText {
  @include inter700();
  font-size: $text;
}

.CategoryTitleText {
  margin: 0px 16px 0px 16px;
}

.NoteText {
  font-size: $small;
  color: grey;
  font-style: italic;
}

.UsaLink {
  @include buttonThatLooksLikeLink();
  font-style: italic;
}

.OptionsSelectorPopover {
  padding: 20px;
}

.PopoverOverride {
  margin: 16px;
  display: flex;
}

.MadLibButton,
.MadLibButtonPulse {
  @include inter500();
  margin: 0.25rem;
  padding: 0 5px 0 15px !important;
  color: $alt-green;
  font-size: $title;
  min-width: 100px;
  border: 1px solid $alt-green;
  margin-inline: 1rem;
  // mui shadow to match home page  CTA button
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

  @media (min-width: $sm) {
    font-size: $smallestHeader;
  }

  @media (min-width: $lg) {
    font-size: $smallerHeader;
  }
}

.MadLibButtonPulse:not(:hover) {
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.98);
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  }

  70% {
    transform: scale(1);
    box-shadow: 0px 5px 1px -2px rgba(0, 0, 0, 0.1),
      0px 5px 2px 0px rgba(0, 0, 0, 0.04), 0px 3px 5px 0px rgba(0, 0, 0, 0.02);
  }

  100% {
    transform: scale(0.98);
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  }
}

.GoBackButtonText {
  font-size: $smallest;
  padding: 5px;
}
