@import "../../styles/variables.module.scss";
@import "../../styles/globals.scss";

.SearchForText,
.CategoryTitleText {
  @include inter700();
  font-size: $text;
}

.CategoryTitleText {
  margin: 8px 16px 8px 16px;
}

.NoteText {
  font-size: $small;
  color: grey;
  font-style: italic;
}

.OptionsSelectorPopover {
  padding: 20px;
}

.PopoverOverride {
  margin: 16px;
}

.CategoryList {
  ul span {
    display: flex;
  }
}

.MadLibButton {
  @include inter400();
  text-underline-offset: 3px !important;
  text-decoration: underline !important;
  padding: 0 0.25rem 5px 0.6rem !important;
  color: $alt-green;
  line-height: $lhLoose;
  font-size: $title;

  @media (min-width: $sm) {
    font-size: $smallestHeader;
  }

  @media (min-width: $lg) {
    font-size: $smallerHeader;
  }
}
