@import "../../styles/variables.scss";

.SearchForText,
.CategoryTitleText {
  font-size: 12pt;
  font-weight: bold;
}

.CategoryTitleText {
  margin: 8px 16px 8px 16px;
}

.NoteText {
  font-size: 10pt;
  color: grey;
  font-style: italic;
}

.OptionsSelectorPopover {
  padding: 20px;
  min-width: 385px;
}

.PopoverOverride {
  margin: 16px;
}

.CategoryList {
  ul span {
    display: flex;
  }
}

.MadLibButton {
  font-size: 25px !important;
  font-weight: normal !important;
  text-decoration: underline !important;
  text-underline-offset: 3px !important;
  margin-bottom: 3px !important;
}
