@import 'styles/globals.scss';
@import 'styles/variables.module';

// .App {
//   text-align: center;
//   position: relative;
//   min-height: 100%;
//   background-color: $white;
// }

// .FallbackPage {
//   min-height: 100vh;
// }

// .Content {
//   padding-bottom: $footer-size;
//   height: 100%;
// }

.NavLink {
  @include dmSans500();
  color: $navlink-color !important;
  margin: 0 5px 0 5px !important;
  padding: 6px 16px !important;
  font-size: $small !important;

  a,
  &:link,
  &:visited {
    color: $navlink-color !important;
    text-decoration: none !important;
  }
}
