@import "styles/variables";

/** ------------------ Footer styles -------------------- **/

.Footer {
  width: 100%;
  background: $footer-color;
  position: absolute;
  bottom: 0;
  max-height: $footer-size;
  margin: auto;
  padding: 50px 10px;
}

.FooterGrid {
  margin: auto;
  height: 100%;
}

/** ------------------ Logos - first -------------------- **/

.SocialsIcon {
  margin: 0 7px !important;
}

.FooterTitleSpan {
  font-family: "DM Sans", sans-serif !important;
  font-size: 20px;
  color: $alt-green;
  font-weight: 500;
}

.FooterLogo {
  margin: 10px 10px 0 10px;
  width: 30px;
  height: 30px;
}

.Logos {
  margin: auto !important;
  max-width: 288px;
}

.LogosLeft {
  margin: auto !important;
}

.LogosRight {
  padding-top: 15px;
}

/** ------------------ Links - second -------------------- **/

.CopyrightSpanLargerWindow {
  color: $alt-grey;
  float: right;
  // So it aligns with the button above it
  padding-right: 8px;
  // To get it closer to the grid above it
  margin-top: -24px;
}

.LinksContainer {
  margin: auto !important;
}

.Links {
  min-height: 78px;
}

/** ------------------ Back to top - third -------------------- **/

.CopyrightSpanSmallerWindow {
  color: $alt-grey;
}

.ScrollToTopButton {
  border-radius: 30px;
  background-color: transparent;
  border: none;

  &:focus {
    outline: none;
  }
}
