@import "styles/variables";

.Footer {
  width: 100%;
  background: $footer-color;
  position: absolute;
  bottom: 0;
  height: $footer-size;
}

.FooterGrid {
  max-width: $max-width;
  margin: auto;
}

.FooterColumn {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}
