@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }
  #root {
    height: 100%;
  }
  html {
    scroll-behavior: smooth;
    height: 100%;
  }
  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    background: theme('colors.white');
  }
  ul {
    margin: 0;
  }
}

/* DEFINE CSS VARIABLES / CUSTOM PROPERTIES */
:root {
  font-size: 100%;
  a {
    color: theme('colors.altGreen');
  }
}

/* STYLING OVERRIDES FOR JOYRIDE ONBOARDING GUIDED TOUR */
/* override the joyride component to show back button */
button[data-action='back'] {
  color: theme('colors.white') !important;
}

/* STYLING OVERRIDES FOR D3 CHARTS */
.yAxisGroup {
  > path:first-child {
    opacity: 0.3; /* fade y-domain axis line */
  }
}
.xAxisGroup {
  > path:first-child {
    opacity: 0; /* remove x-domain axis line */
  }
}

/* custom focus styles for warm welcome buttons */
button[data-action='primary']:focus,
button[data-action='close']:focus,
button[data-action='skip']:focus,
button[data-action='back']:focus {
  outline: 1px solid theme('colors.white');
}

/* STYLING FOR FETCHED WORDPRESS HTML FOR NEWS AND STORIES */
.fetched-wordpress-html {
  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & figure {
    margin-inline: 0 !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & figcaption {
    margin-top: 0.5rem;
    text-align: center !important;
    font-size: 0.75rem !important;
    font-weight: 200 !important;
    font-decoration: none !important;
    max-width: 600px;
  }

  & p,
  & ul,
  & ol,
  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    width: 95vw;
    max-width: 800px;
    @media screen(sm) {
      width: 75vw;
    }
    @media screen(md) {
      width: 50vw;
    }
  }

  & ul {
    list-style: disc;
    margin-left: 1rem;
    padding-left: 1rem;
  }

  & hr {
    margin-block: 3rem;
    width: 50%;
  }

  & blockquote > p {
    font-style: italic;
  }

  & h1 {
    font-family: 'Taviraj', serif !important;
    font-size: theme('fontSize.header') !important;
    line-height: 110%;
    color: theme('colors.altGreen');
    font-weight: 300;
    margin-top: 3rem;
    margin-bottom: 0rem;
    text-align: left;
  }

  & h2 {
    font-family: 'Taviraj', serif !important;
    font-size: theme('fontSize.header') !important;
    line-height: 110%;
    color: theme('colors.altGreen');
    font-weight: 300;
    margin-top: 3rem;
    margin-bottom: 0rem;
    text-align: left;
  }

  & h3 {
    font-family: 'Taviraj', serif !important;
    font-size: theme('fontSize.header') !important;
    line-height: 110%;
    color: theme('colors.altGreen');
    font-weight: 300;
    margin-top: 3rem;
    margin-bottom: 0rem;
    text-align: left;
  }

  & h4 {
    font-family: 'Taviraj', serif !important;
    font-size: theme('fontSize.smallestHeader') !important;
    line-height: 110%;
    color: theme('colors.altGreen');
    font-weight: 300;
    margin-top: 3rem;
    margin-bottom: 0rem;
    text-align: left;
  }

  & h5 {
    font-family: 'Taviraj', serif !important;
    font-size: theme('fontSize.title') !important;
    line-height: 110%;
    color: theme('colors.altGreen');
    font-weight: 300;
    margin-top: 3rem;
    margin-bottom: 0rem;
    text-align: left;
  }

  & h6 {
    font-family: 'Taviraj', serif !important;
    font-size: theme('fontSize.text') !important;
    line-height: 110%;
    color: theme('colors.altGreen');
    font-weight: 300;
    margin-top: 3rem;
    margin-bottom: 0rem;
    text-align: left;
  }

  & h6 a {
    font-family: 'DM Sans', sans-serif !important;
    font-weight: 500 !important;
    background-color: theme(colors.altGreen) !important;
    color: theme(colors.white) !important;
    border-radius: 40px !important;
    padding: 16px 30px !important;
    text-align: center;
    text-decoration: none;
    display: block;
    max-width: 400px;
    margin: 40px auto 0px auto;
    font-size: 1.5rem !important;
  }

  & img {
    display: block;
    margin: 40px auto 10px auto;
    max-width: 100%;
    height: auto;
  }

  /* hide featured image since already in header; hide HRs; show youtube embed <figure> */
  .wp-block-post-featured-image {
    display: none !important;
  }

  /* set youtube video container to proper aspect ratio */
  .wp-block-embed-youtube .wp-block-embed__wrapper {
    margin-block: 3rem;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
  }

  /* fill iframe to above container */
  .wp-block-embed-youtube .wp-block-embed__wrapper > iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 20px;
  }
}


/* MADLIB ANIMATIONS */
@keyframes fadeInOut {
  0%, 80%, 100% { opacity: 0; z-index: 0; }
  20%, 60% { opacity: 1; z-index: 1; }
}

.topic {
  animation: fadeInOut 14s infinite;
}

.topic:nth-child(1) { animation-delay: 0s; }
.topic:nth-child(2) { animation-delay: 2.33s; }
.topic:nth-child(3) { animation-delay: 4.66s; }
.topic:nth-child(4) { animation-delay: 7s; }
.topic:nth-child(5) { animation-delay: 9.33s; }
.topic:nth-child(6) { animation-delay: 11.66s; }