@tailwind base;
@tailwind components;
@tailwind utilities;

/* DEFINE CSS VARIABLES / CUSTOM PROPERTIES */
@layer base {
  :root {
    /* non-tailwind values */
    --hex-share-icon-gray: #757575;

    /* colors loaded into tailwind config */
    --alert-color: 216 92 71;
    --alt-black: 56 56 56;
    --alt-green: 11 82 64;
    --alt-grey: 189 189 189;
    --alt-orange: 157 77 63;
    --alt-red: 211 47 47;
    --bar-chart-dark: 11 84 32;
    --bar-chart-light: 145 198 132;
    --bg-color: 226 226 226;
    --black: 0 0 0;
    --blue: 7 83 143;
    --border-color: 62 62 62;
    --dark-blue: 37 87 146;
    --dark-green: 8 63 49;
    --explore-bg-color: 241 244 248;
    --footer-color: 237 243 240;
    --grey-dark: 34 34 34;
    --grey-grid-color: 249 249 249;
    --highest-lowest-color: 248 249 250;
    --how-to-color: 189 193 198;
    --infobar-color: 248 232 176;
    --join-effort-bg1: 165 205 192;
    --join-effort-bg2: 237 178 166;
    --join-effort-bg3: 39 81 65;
    --listbox-color: 241 243 244;
    --map-dark: 2 126 71;
    --map-darker: 24 94 73;
    --map-darkest: 19 75 58;
    --map-light: 125 182 64;
    --map-lighter: 185 206 58;
    --map-lightest: 242 230 47;
    --map-medicare-dark: 54 92 141;
    --map-medicare-darkest: 70 50 127;
    --map-medicare-even-lighter: 159 218 58;
    --map-medicare-light: 31 161 135;
    --map-medicare-lighter: 75 193 108;
    --map-medicare-lightest: 240 229 37;
    --map-medicare-mid: 38 127 142;
    --map-medicare-min: 9 1 33;
    --map-mid: 62 155 66;
    --map-min: 19 75 58;
    --map-women-dark: 139 10 165;
    --map-women-darker: 84 2 163;
    --map-women-darkest: 50 1 97;
    --map-women-light: 219 91 104;
    --map-women-lighter: 244 136 73;
    --map-women-lightest: 254 188 43;
    --map-women-mid: 185 51 137;
    --map-women-min: 18 1 97;
    --navlink-color: 32 33 36;
    --red-orange: 237 87 63;
    --report-alert: 255 152 0;
    --secondary-dark: 22 123 111;
    --secondary-light: 137 213 204;
    --secondary-main: 34 139 126;
    --standard-info: 248 249 250;
    --standard-warning: 255 248 235;
    --team-border-color: 154 160 166;
    --time-cyan-blue: 121 180 183;
    --time-dark-red: 140 0 0;
    --time-pastel-green: 84 125 107;
    --time-pink: 255 133 179;
    --time-purple: 129 109 152;
    --time-yellow: 252 180 49;
    --toggle-color: 225 233 231;
    --unknown-map-even-more: 35 132 185;
    --unknown-map-least: 211 238 206;
    --unknown-map-less: 146 212 190;
    --unknown-map-lesser: 184 227 190;
    --unknown-map-mid: 96 188 203;
    --unknown-map-min: 236 236 204;
    --unknown-map-more: 71 168 203;
    --unknown-map-most: 11 97 162;
    --white: 255 255 255;
    --why-box-color: 216 235 229;
    --yellow: 255 255 0;

    /* consistent zIndex values

    NOTE: some z indexes are generated by npm packages
    multimap modal blur backdrop: -1
    MUI sticky headers assigned: 2
    joyride warm welcome auto-assigned: 101

    */
    --z-bottom: -999;
    --z-middle: 0;
    --z-almost-top: 3;
    --z-top: 999;
  }
}

/* DEFINED CUSTOM ANIMATIONS */
/* Ripple effect */
#cta {
  background-position: center;
  transition: background 0.6s;
}
#cta:hover {
  background: rgb(11 82 64)
    radial-gradient(circle, transparent 1%, rgb(11 82 64) 1%) center/15000%;
}
#cta:active {
  background-color: rgb(96 120 112) !important;
  background-size: 100%;
  transition: background 0s;
}
