cachetools==5.3.3
certifi==2024.6.2
flask
google-api-core[grpc]
google-auth==2.29.0
google-cloud
google-cloud-bigquery
google-cloud-core
google-cloud-pubsub
google-cloud-storage
google-resumable-media
googleapis-common-protos[grpc]==1.63.0
grpcio==1.64.1
gunicorn==22.0.0
idna
itsdangerous==2.2.0
jinja2==3.1.4
markupsafe==2.1.5
mypy-extensions==0.4.3
numpy==1.26.4
openpyxl==3.1.4
pandas==2.2.2
proto-plus==1.23.0
protobuf
pyarrow
pylint==3.2.3
pytz==2022.2.1
pyyaml==5.4
requests==2.32.3
rsa==4.9
six==1.16.0
urllib3
Werkzeug==2.2.2
xlrd==2.0.1