flask
urllib3
werkzeug
numpy==1.26.4
google-auth==2.29.0
google-api-core[grpc]
google-cloud-bigquery
google-cloud-pubsub
certifi==2024.6.2
grpcio==1.64.1
gunicorn==22.0.0
protobuf
rsa==4.9
idna
pyarrow
pylint==3.2.3
requests==2.32.3
itsdangerous==2.2.0
jinja2==3.1.4
pandas==2.2.2
xlrd==2.0.1
pyyaml==5.4
mypy-extensions==0.4.3
openpyxl==3.1.4
six==1.16.0
markupsafe==2.1.5
pytz==2022.2.1
cachetools==5.3.3
google-cloud-storage==2.17.0
google-cloud==0.34.0
proto-plus==1.23.0
google-cloud-core==2.4.1