astroid==3.2.2
blinker==1.8.2
cachetools==5.3.3
certifi==2024.6.2
cffi==1.15.1
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
db-dtypes==1.2.0
dill==0.3.8
et-xmlfile==1.1.0
flask
flask-cors==4.0.1
freezegun==1.5.1
google-api-core[grpc]
google-auth==2.29.0
google-cloud
google-cloud-bigquery
google-cloud-core
google-cloud-pubsub
google-cloud-storage
google-crc32c==1.3.0
google-resumable-media
googleapis-common-protos[grpc]==1.63.0
grpc-google-iam-v1==0.12.4
grpcio-status==1.47.0
grpcio==1.64.1
gunicorn==22.0.0
idna
importlib-metadata==4.12.0
iniconfig==1.1.1
isort==5.13.2
itsdangerous==2.2.0
jinja2==3.1.4
libcst==0.3.16
markupsafe==2.1.5
mccabe==0.7.0
mypy-extensions==0.4.3
numpy==1.26.4
openpyxl==3.1.4
packaging==24.0
pandas==2.2.2
platformdirs==4.2.1
pluggy==1.5.0
proto-plus==1.23.0
protobuf
pyarrow==14.0.1
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycparser==2.20
pylint==3.2.3
pyparsing==2.4.7
pyparsing==3.0.9
pytest==8.2.2
python-dateutil==2.9.0.post0
pytz==2022.2.1
pyyaml==5.4
requests==2.32.3
rsa==4.9
six==1.16.0
tomlkit==0.12.5
typing-extensions==4.0.0
typing-inspect==0.6.0
tzdata==2024.1
urllib3
Werkzeug==2.2.2
xlrd==2.0.1
zipp==3.8.1