-r ../../shared_requirements/requirements.txt
astroid==3.2.2
    # via pylint
cffi==1.14.4
    # via google-crc32c
charset-normalizer==3.3.2
    # via requests
dill==0.3.8
    # via pylint
et-xmlfile==1.1.0
    # via openpyxl
freezegun==1.5.1
    # via -r requirements.in
google-crc32c==1.1.0
    # via google-resumable-media
googleapis-common-protos[grpc]==1.52.0
    # via
    #   google-api-core
    #   grpc-google-iam-v1
grpc-google-iam-v1==0.12.3
    # via google-cloud-pubsub
isort==5.13.2
    # via pylint
libcst==0.3.16
    # via google-cloud-pubsub
mccabe==0.7.0
    # via pylint
platformdirs==4.2.1
    # via pylint
pyasn1==0.4.8
    # via
    #   pyasn1-modules
    #   rsa
pyasn1-modules==0.2.8
    # via google-auth
pycparser==2.20
    # via cffi
python-dateutil==2.9.0.post0
    # via
    #   freezegun
    #   pandas
tomlkit==0.12.4
    # via pylint
typing-extensions==4.0.0
    # via
    #   libcst
    #   typing-inspect
typing-inspect==0.6.0
    # via libcst
tzdata==2024.1
    # via pandas

# The following packages are considered to be unsafe in a requirements file:
# setuptools
