@theme {
  /* yellows / oranges */
  --color-time-yellow: #fcb431;
  --color-alert-color: #d85c47;
  --color-red-orange: #ed573f;
  --color-report-alert: #ff9800;

  /* greens */
  --color-alt-green: #0b5240;
  --color-dark-green: #083f31;
  --color-hover-alt-green: rgba(11, 82, 64, 0.08);
  --color-secondary-main: #228b7e;
  --color-methodology-green: #b5c7c2;
  --color-footer-color: #edf3f0;

  /* greys / blacks */
  --color-alt-black: #383838;
  --color-alt-dark: #5f6368;
  --color-alt-gray: #bdbdbd;
  --color-bg-color: #e2e2e2;
  --color-black: #000;
  --color-divider-gray: #0000001f;
  --color-gray-grid-color-darker: #dddddd;
  --color-hex-share-icon-gray: #757575;
  --color-navlink-color: #202124;
  --color-timberwolf: #cbd0c8;

  /* whites */
  --color-white: #fff;
  --color-white-smoke80: rgba(240, 241, 239, 0.8);
  --color-table-zebra: #fdfff9;

  /* blues */
  --color-dark-blue: #255792;
  --color-time-cyan-blue: #79b4b7;

  /* misc */
  --color-explore-bg-color: #f1f4f8;
  --color-infobar-color: #f8e8b0;
  --color-tiny-tag-gray: rgba(220, 229, 226, 0.18);
  --color-transparent: #00000000;
  --color-group-green: #7db640;
  --color-group-yellow-green: #b9ce3a;

  /* bar chart */
  --color-bar-chart-light: #91c684;

  /* time series */
  --color-time-dark-red: #8c0000;
  --color-time-pastel-green: #547d6b;
  --color-time-pink: #ff85b3;
  --color-time-purple: #816d98;

}