@theme {
  /* h- */
  --height-little-het-logo: 30px;
  --height-join-effort-logo: 720px;

  /* w- */
  --width-little-het-logo: 30px;
  --width-join-effort-logo: 600px;
  --width-90p: 90%;
  --width-98p: 98%;
  --width-on-this-page-menu-desktop: 192px;

  /* max-h- */
  --max-height-aim-to-go: 255px;
  --max-height-article-logo: 700px;

  /* max-w- */
  --max-width-aim-to-go: 255px;
  --max-width-menu: 800px;
  --max-width-on-this-page-menu-desktop: 200px;
  --max-width-article-logo: 700px;
  --max-width-team-headshot: 181px;
  --max-width-team-logo: 250px;
  --max-width-explore-data-page: 1500px;
  --max-width-explore-data-two-column-page: 2500px;
  --max-width-news-text: 800px;
  --max-width-equity-logo: 400px;
  --max-width-helper-box: 1200px;

  /* min-h- */
  --min-height-multimap-mobile: 125px;
  --min-height-multimap-desktop: 175px;
  --min-height-preload-article: 750px;
	--min-height-toolbar: 65px;

}