@theme {
  /* p- */
  --padding-1p: 1%;
  --padding-15p: 15%;

  /* gap- m- p- etc */
  --spacing-card-gutter: 8px;
  --spacing-footer: 10rem;
	--spacing-social-icon: 7px;

  /* stroke-w- */
  --stroke-width-trend-line-normal: 2.5;
  --stroke-width-trend-line-thick: 5.5;
}