@import "../styles/variables.module.scss";
@import "../styles/globals.scss";

.CardHeader {
  @include inter700();
  text-align: left;
}

.CardLink {
  @include inter700();
  text-align: right;
  a {
    text-decoration: none !important;
  }
}

.CardLinkText {
  margin-inline: 5px;
  margin-bottom: 5px;
  align-items: top;
}

.ChartCard {
  margin: 10px;
}

.SmallMarginContent {
  text-align: left;
  padding-bottom: 6px !important;
  padding-top: 6px !important;
}
.PopulationCardContent {
  padding: 16px 16px 0 16px !important;
}

.PopulationCard {
  $populationTitleHeight: 57px; // specific heigh to vertically align all population card header text

  h1,
  span {
    text-align: left;
  }

  .TotalPopulationKey {
    font-size: $smallestHeader;
    line-height: $populationTitleHeight;
    padding-right: 7px;
  }

  .TotalPopulationValue {
    font-size: $smallestHeader;
    line-height: $populationTitleHeight;
    color: $alt-green;
  }

  .PopulationCardTitle {
    @include inter500();
    padding-right: 20px;
    font-size: $header;
    line-height: $populationTitleHeight;
  }
  .VerticalDivider {
    height: $populationTitleHeight;
    border-right: 1px solid grey;
    margin-left: 20px;
    float: right;
  }
}
.PopulationChartTitle {
  @include inter700();
  text-align: left;
  font-size: $small;
  letter-spacing: 0.00938em;
}

.PopulationAlert {
  margin: 10px;
}

.PopulationMetric {
  padding: 10px;
  font-size: $small;
  // Smallest width at which current standardized strings all fit on 3 lines
  width: 131px;
}
.PopulationMetricValue {
  color: $alt-green;
  font-size: $title;
}

.CardFooter {
  text-align: left;
  padding-bottom: 10px !important;
  padding-top: 10px !important;
  font-size: $smallest;
}

.CardInfoPopover {
  padding: 20px;
}

.InfoIconButton {
  padding: 3px !important;
  margin: 0px !important;
  min-width: unset !important;
}

.TerritoryCirclesContainer {
  width: 100%;
  height: 55px;
}

.TerritoryCircle {
  float: left;
  width: 50px;
  padding-left: 30px;
  padding-top: 15px;
}
