@import "../styles/variables.module";
@import "../styles/globals.scss";

.CardHeader {
  @include inter700();
  text-align: left;
}

// negative margin to allow hover size of button without expanding the container height
.CopyLinkButton {
  padding: 8px;
  margin: -8px;
}

.ChartCard {
  margin: 10px;
}

.SmallMarginContent {
  text-align: left;
  padding-bottom: 6px !important;
  padding-top: 6px !important;
}

.ViewPopulationLink {
  // align-items: flex-end;
  text-align: start;

  @media only screen and (min-width: $md) {
    text-align: center;
  }
}

.PopulationCardContent {
  padding: 16px 16px 0 16px !important;
}

.PopulationCard {
  $populationTitleHeight: 57px; // specific heigh to vertically align all population card header text

  h1,
  span {
    text-align: left;
  }

  .TotalPopulationKey {
    font-size: $smallestHeader;
    line-height: $populationTitleHeight;
    padding-right: 7px;
  }

  .TotalPopulationValue {
    font-size: $smallestHeader;
    line-height: $populationTitleHeight;
    color: $alt-green;
  }

  .PopulationCardTitle {
    @include inter500();
    padding-right: 20px;
    font-size: $header;
    line-height: $populationTitleHeight;
  }

  .VerticalDivider {
    height: $populationTitleHeight;
    border-right: 1px solid grey;
    margin-left: 20px;
    float: right;

    // divider should only show on screens wide enough to likely have name and pop info on 1 line
    display: none;

    @media only screen and (min-width: $md) {
      display: block;
    }
  }
}

.CardFooter {
  text-align: left;
  padding-bottom: 10px !important;
  padding-top: 10px !important;
  font-size: $smallest;
}

.CardInfoPopover {
  padding: 20px;
}

.InfoIconButton {
  padding: 3px !important;
  margin: 0px !important;
  min-width: unset !important;
}

.TerritoryCirclesContainer {
  width: 100%;
  height: 55px;
}

.TerritoryCircle {
  float: left;
  width: 50px;
  padding: 15px 0 0 30px;

  @media only screen and (min-width: $sm) {
    width: 20px;
    padding: 20px 20px 0 20px;
  }

  @media only screen and (min-width: $md) {
    width: 50px;
    padding: 15px 0 0 30px;
  }
}

.SviContainer {
  @media only screen and (min-width: $md) {
    display: flex;
    align-items: center;
  }
}
