@import '../styles/variables.module';
@import '../styles/globals.scss';

.ChartTitle {
  font-size: $title;
  padding: 0;
  margin: 0;
}

.ChartSubtitle {
  font-style: italic;
  font-weight: lighter;
  padding: 0;
  margin: 0;
  font-size: $small;
}

.ChartCard {
  margin: $card-gutter;
  position: relative;
}

.MapControlsContent {
  text-align: left;
  padding-bottom: 6px !important;
  padding-top: 0px !important;
}

.CardFooter {
  text-align: left;
  padding-bottom: 10px !important;
  padding-top: 10px !important;
  font-size: $smallest;
}

.CardInfoPopover {
  padding: 20px;
}

.InfoIconButton {
  padding: 3px !important;
  margin: 0px !important;
  min-width: unset !important;
}

.CompareMultipleText {
  margin-top: 4px;
  padding-inline: 5px;
  vertical-align: bottom;
}
