@import "../styles/variables.module";

.CardHeader {
  text-align: left;
  font-weight: bold !important;
  font-family: "Inter", sans-serif !important;
}

.ChartCard {
  margin: 10px;
}

.SmallMarginContent {
  text-align: left;
  padding-bottom: 6px !important;
  padding-top: 6px !important;
}
.PopulationCardContent {
  padding: 16px 16px 0 16px !important;
}

.PopulationCard {
  $populationTitleHeight: 57px; // specific heigh to vertically align all population card header text

  h1,
  span {
    text-align: left;
  }

  .TotalPopulationKey {
    font-weight: 400;
    font-size: $smallestHeader;
    line-height: $populationTitleHeight;
    padding-right: 7px;
  }

  .TotalPopulationValue {
    font-size: $smallestHeader;
    line-height: $populationTitleHeight;
    color: $alt-green;
  }

  .PopulationCardTitle {
    padding-right: 20px;
    font-weight: 500;
    font-size: $header;
    line-height: $populationTitleHeight;
  }
  .VerticalDivider {
    height: $populationTitleHeight;
    border-right: 1px solid grey;
    margin-left: 20px;
    float: right;
  }
}
.PopulationChartTitle {
  text-align: left;
  font-weight: bold !important;
  font-size: $small;
  font-weight: 400;
  letter-spacing: 0.00938em;
}

.PopulationAlert {
  margin: 10px;

  .InfoLinkButton {
    font-size: $small !important;
    font-family: "Inter", serif !important;
    font-weight: 400 !important;
    letter-spacing: 0.01071em !important;
    text-decoration: underline !important;
    color: $alt-green !important;
    padding: 0 5px !important;
    margin-top: -2px !important; // To align with the <p> text better
  }
}

.PopulationMetric {
  padding: 10px;
  font-size: $small;
  // Smallest width at which current standardized strings all fit on 3 lines
  width: 131px;
}
.PopulationMetricValue {
  color: $alt-green;
  font-size: $title;
}

.CardFooter {
  text-align: left;
  padding-bottom: 10px !important;
  padding-top: 10px !important;
  font-size: $smallest;
}

.CardInfoPopover {
  padding: 20px;
}

.InfoIconButton {
  padding: 3px !important;
  margin: 0px !important;
  min-width: unset !important;
}

.TerritoryCirclesContainer {
  width: 100%;
  height: 55px;
}

.TerritoryCircle {
  float: left;
  width: 50px;
  padding-left: 30px;
  padding-top: 15px;
}
