@use "../../styles/globals.scss";
@import "../../styles/variables.module";

/** ------------------ METHODOLOGY -------------------- **/

.MethodologySection {
  padding: 50px 20px 50px 20px;
  margin: auto;
  max-width: $max-width;
}

.MethodologyQuestionAndAnswer {
  padding-bottom: 1.5rem;
}

.MethodologyQuestion {
  font-size: $smallestHeader;
  text-align: left;
  font-weight: 300;
  font-family: "Taviraj", serif !important ;
  color: $alt-black;
}

.MethodologyAnswer {
  font-size: $small;
  text-align: left;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: $alt-black;
}

.MethodologySubsubheaderText {
  font-weight: 500;
  font-family: "Inter", sans-serif !important;
  font-size: $text;
}

.MethodologyInfoBar {
  background-color: $infobar-color;
  padding: 2px 10px 2px 10px;
  border-radius: 8px;
}

p.CitationAPA {
  padding-left: 3rem;
  padding-right: 1rem;
  margin: 1rem initial;
}
p.CitationAPA:first-of-type {
  text-indent: -2rem;
}
