@import "../../styles/globals.scss";
@import "../../styles/variables.module";

.MenuContainer {
  align-items: center;
  background-color: #0b5240;
  display: flex;
  height: 135px;
  justify-content: center;
  margin: 0px;
  position: relative;
}

.CategoryContainer {
  margin: 0px 20px;
  border: 0px;
}

.Category {
  color: #f7faf9 !important;
  font-family: "Taviraj", serif !important;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 25px;
  min-height: auto;
  opacity: 1;
  padding: 0px;
}

.Category:hover {
  font-weight: bold;
}

.Category > span {
  flex-direction: row;
  justify-content: left;
}

.Topic {
  color: #e0e9e6 !important;
  font-weight: 200;
  min-height: auto;
  opacity: 1;
  padding: 0px;
}

.Topic:hover {
  font-weight: bold;
}

.Topic > span {
  display: block;
  text-align: left;
}

.Divider {
  width: 2px;
  background-color: #85a89f;
  height: 60px;
  position: absolute;
  right: 0px;
  top: 40px;
}

.KeyInsights {
  background-color: inherit;
  box-shadow: none;
  color: #f7faf9;
  display: flex;
  flex-direction: column;
  height: 135px;

  margin-right: 20px;
  padding-top: 10px;
  position: absolute;
  right: 0px;
  text-align: center;
  width: 220px;
}

.KeyInsights > a {
  line-height: 35px;
}

.testing {
  padding-left: 5px;
}
