name: RUN Spellcheck
on: # rebuild any PRs and main branch changes
  pull_request:
  push:

jobs:
  spellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: streetsidesoftware/cspell-action@v7
        with:
          config: 'cspell.config.json'
          incremental_files_only: true
          verbose: true
          files: |
            **/*.{ts,tsx,css,md,py}
